openapi: 3.0.3
info:
  title: Stytch API
  description: The Stytch API provides endpoints for authentication and user management.
  version: 1.0.0
  contact:
    name: Stytch Support
    url: https://stytch.com/docs
    email: support@stytch.com
servers:
- url: https://api.stytch.com
  description: Production server
- url: https://test.stytch.com
  description: Test server
security:
- basicAuth: []
paths:
  /v1/connected_apps/clients/{client_id}:
    get:
      summary: Get
      operationId: api_connectedapps_v1_connected_apps_clients_Get
      tags:
      - Connected Apps
      description: Retrieve details of a specific Connected App by `client_id`.
      parameters:
      - name: client_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_connectedapps_v1_GetResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    put:
      summary: Update
      operationId: api_connectedapps_v1_connected_apps_clients_Update
      tags:
      - Connected Apps
      description: Updates mutable fields of a Connected App. Cannot update Client
        Type, Client ID, or Secrets.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_connectedapps_v1_UpdateRequest'
      parameters:
      - name: client_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_connectedapps_v1_UpdateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    delete:
      summary: Delete
      operationId: api_connectedapps_v1_connected_apps_clients_Delete
      tags:
      - Connected Apps
      description: Deletes a Connected App.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_connectedapps_v1_DeleteRequest'
      parameters:
      - name: client_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_connectedapps_v1_DeleteResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/connected_apps/clients/search:
    post:
      summary: Search
      operationId: api_connectedapps_v1_connected_apps_clients_Search
      tags:
      - Connected Apps
      description: Search for Connected Apps. Supports cursor-based pagination. Specific
        filters coming soon.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_connectedapps_v1_SearchRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_connectedapps_v1_SearchResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/connected_apps/clients:
    post:
      summary: Create
      operationId: api_connectedapps_v1_connected_apps_clients_Create
      tags:
      - Connected Apps
      description: 'Creates a new Connected App. If the Connected App `client_type`
        is `first_party` or `third_party` a `client_secret` is returned.


        **Important:** This is the only time you will be able to view the generated
        `client_secret` in the API response. Stytch stores a hash of the `client_secret`
        and cannot recover the value if lost. Be sure to persist the `client_secret`
        in a secure location. If the `client_secret` is lost, you will need to trigger
        a secret rotation flow to receive another one.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_connectedapps_v1_CreateRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_connectedapps_v1_CreateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/connected_apps/clients/{client_id}/secrets/rotate/start:
    post:
      summary: Rotatestart
      operationId: api_connectedapps_v1_connected_apps_clients_secrets_RotateStart
      tags:
      - Clients
      description: 'Initiate the rotation of a Connected App client secret. After
        this endpoint is called, both the client''s `client_secret` and `next_client_secret`
        will be valid. To complete the secret rotation flow, update all usages of
        `client_secret` to `next_client_secret` and call the Rotate Secret Endpoint
        to complete the flow.

        Secret rotation can be cancelled using the Cancel Secret Rotation endpoint.


        **Important:** This is the only time you will be able to view the generated
        `next_client_secret` in the API response. Stytch stores a hash of the `next_client_secret`
        and cannot recover the value if lost. Be sure to persist the `next_client_secret`
        in a secure location. If the `next_client_secret` is lost, you will need to
        trigger a secret rotation flow to receive another one.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_connectedapps_v1_RotateStartRequest'
      parameters:
      - name: client_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_connectedapps_v1_RotateStartResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/connected_apps/clients/{client_id}/secrets/rotate/cancel:
    post:
      summary: Rotatecancel
      operationId: api_connectedapps_v1_connected_apps_clients_secrets_RotateCancel
      tags:
      - Clients
      description: Cancel the rotation of a Connected App client secret started with
        the Start Secret Rotation Endpoint. After this endpoint is called, the client's
        `next_client_secret` is discarded and only the original `client_secret` will
        be valid.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_connectedapps_v1_RotateCancelRequest'
      parameters:
      - name: client_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_connectedapps_v1_RotateCancelResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/connected_apps/clients/{client_id}/secrets/rotate:
    post:
      summary: Rotate
      operationId: api_connectedapps_v1_connected_apps_clients_secrets_Rotate
      tags:
      - Clients
      description: 'Complete the rotation of a Connected App client secret started
        with the Rotate Secret Start Endpoint.

        After this endpoint is called, the client''s `next_client_secret` becomes
        its `client_secret` and the previous `client_secret` will no longer be valid.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_connectedapps_v1_RotateRequest'
      parameters:
      - name: client_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_connectedapps_v1_RotateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/scim/{organization_id}/connection/{connection_id}:
    put:
      summary: Update
      operationId: api_b2b_scim_v1_b2b_scim_connection_Update
      tags:
      - B2B Scim
      description: Update a SCIM Connection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_b2b_scim_v1_UpdateRequest'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: connection_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_b2b_scim_v1_UpdateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    delete:
      summary: Delete
      operationId: api_b2b_scim_v1_b2b_scim_connection_Delete
      tags:
      - B2B Scim
      description: Deletes a SCIM Connection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_b2b_scim_v1_DeleteRequest'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: connection_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_b2b_scim_v1_DeleteResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    get:
      summary: Getgroups
      operationId: api_b2b_scim_v1_b2b_scim_connection_GetGroups
      tags:
      - B2B Scim
      description: Gets a paginated list of all SCIM Groups associated with a given
        Connection.
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: connection_id
        in: path
        required: true
        schema:
          type: string
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
          minimum: 0
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_b2b_scim_v1_GetGroupsResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/scim/{organization_id}/connection/{connection_id}/rotate/start:
    post:
      summary: Rotatestart
      operationId: api_b2b_scim_v1_b2b_scim_connection_RotateStart
      tags:
      - B2B Scim
      description: Start a SCIM token rotation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_b2b_scim_v1_RotateStartRequest'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: connection_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_b2b_scim_v1_RotateStartResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/scim/{organization_id}/connection/{connection_id}/rotate/complete:
    post:
      summary: Rotatecomplete
      operationId: api_b2b_scim_v1_b2b_scim_connection_RotateComplete
      tags:
      - B2B Scim
      description: Completes a SCIM token rotation. This will complete the current
        token rotation process and update the active token to be the new token supplied
        in the [start SCIM token rotation](https://stytch.com/docs/b2b/api/scim-rotate-token-start)
        response.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_b2b_scim_v1_RotateCompleteRequest'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: connection_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_b2b_scim_v1_RotateCompleteResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/scim/{organization_id}/connection/{connection_id}/rotate/cancel:
    post:
      summary: Rotatecancel
      operationId: api_b2b_scim_v1_b2b_scim_connection_RotateCancel
      tags:
      - B2B Scim
      description: Cancel a SCIM token rotation. This will cancel the current token
        rotation process, keeping the original token active.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_b2b_scim_v1_RotateCancelRequest'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: connection_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_b2b_scim_v1_RotateCancelResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/scim/{organization_id}/connection:
    post:
      summary: Create
      operationId: api_b2b_scim_v1_b2b_scim_connection_Create
      tags:
      - B2B Scim
      description: Create a new SCIM Connection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_b2b_scim_v1_CreateRequest'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_b2b_scim_v1_CreateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    get:
      summary: Get
      operationId: api_b2b_scim_v1_b2b_scim_connection_Get
      tags:
      - B2B Scim
      description: Get SCIM Connection.
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_b2b_scim_v1_GetResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations:
    post:
      summary: Create
      operationId: api_organization_v1_Create
      tags:
      - Organization
      description: 'Creates an Organization. An `organization_name` and a unique `organization_slug`
        are required.


        If no Organization authentication setting parameters are passed in, `email_invites`
        will default to `ALL_ALLOWED` so that the Organization has a way to add Members.
        Otherwise, `email_invites` will default to `NOT_ALLOWED`.


        *See the [Organization authentication settings](https://stytch.com/docs/b2b/api/org-auth-settings)
        resource to learn more about fields like `email_jit_provisioning`, `email_invites`,
        `sso_jit_provisioning`, etc., and their behaviors.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_organization_v1_CreateRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_CreateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations/{organization_id}:
    get:
      summary: Get
      operationId: api_organization_v1_Get
      tags:
      - Organization
      description: Returns an Organization specified by `organization_id`.
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_GetResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    put:
      summary: Update
      operationId: api_organization_v1_Update
      tags:
      - Organization
      description: 'Updates an Organization specified by `organization_id`. An Organization
        must always have at least one auth setting set to either `RESTRICTED` or `ALL_ALLOWED`
        in order to provision new Members.


        *See the [Organization authentication settings](https://stytch.com/docs/b2b/api/org-auth-settings)
        resource to learn more about fields like `email_jit_provisioning`, `email_invites`,
        `sso_jit_provisioning`, etc., and their behaviors.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_organization_v1_UpdateRequest'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_UpdateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    delete:
      summary: Delete
      operationId: api_organization_v1_Delete
      tags:
      - Organization
      description: Deletes an Organization specified by `organization_id`. All Members
        of the Organization will also be deleted.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_organization_v1_DeleteRequest'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_DeleteResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations/search:
    post:
      summary: Search
      operationId: api_organization_v1_Search
      tags:
      - Organization
      description: '

        **Warning**: This endpoint is not recommended for use in login flows. Scaling
        issues may occur, as search performance may vary from ~150 milliseconds to
        9 seconds depending on query complexity and rate limits are set to 100 requests/second.


        Search across your Organizations. Returns an array of Organization objects.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_organization_v1_SearchRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_SearchResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations/{organization_id}/metrics:
    get:
      summary: Metrics
      operationId: api_organization_v1_Metrics
      tags:
      - Organization
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_MetricsResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations/{organization_id}/connected_apps:
    get:
      summary: Connectedapps
      operationId: api_organization_v1_ConnectedApps
      tags:
      - Organization
      description: 'Retrieves a list of Connected Apps for the Organization that have
        been installed by Members. Installation comprises

        successful completion of an authorization flow with a Connected App that has
        not been revoked.


        Connected Apps may be uninstalled if an Organization changes its `first_party_connected_apps_allowed_type`

        or `third_party_connected_apps_allowed_type` policies.'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_ConnectedAppsResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations/{organization_id}/connected_apps/{connected_app_id}:
    get:
      summary: Getconnectedapp
      operationId: api_organization_v1_GetConnectedApp
      tags:
      - Organization
      description: 'Get Connected App for Organization retrieves information about
        the specified Connected App as well as a list of the

        Organization''s Members who have the App installed along with the scopes they
        requested at completion of their last

        authorization with the App.'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: connected_app_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_GetConnectedAppResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations/{organization_id}/members/{member_id}:
    put:
      summary: Update
      operationId: api_organization_v1_organizations_members_Update
      tags:
      - Organizations
      description: Updates a Member specified by `organization_id` and `member_id`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_organization_v1_UpdateRequest'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: member_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_UpdateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    delete:
      summary: Delete
      operationId: api_organization_v1_organizations_members_Delete
      tags:
      - Organizations
      description: Deletes a Member specified by `organization_id` and `member_id`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_organization_v1_DeleteRequest'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: member_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_DeleteResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations/{organization_id}/members/{member_id}/reactivate:
    put:
      summary: Reactivate
      operationId: api_organization_v1_organizations_members_Reactivate
      tags:
      - Organizations
      description: 'Reactivates a deleted Member''s status and its associated email
        status (if applicable) to active, specified by `organization_id` and `member_id`.
        This endpoint will only work for Members with at least one verified email
        where their `email_address_verified` is `true`.


        Note that this endpoint does not accept an `external_id`. The Stytch `member_id`
        must be provided.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_organization_v1_ReactivateRequest'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: member_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_ReactivateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations/{organization_id}/members/mfa_phone_numbers/{member_id}:
    delete:
      summary: Deletemfaphonenumber
      operationId: api_organization_v1_organizations_members_DeleteMFAPhoneNumber
      tags:
      - Organizations
      description: "Delete a Member's MFA phone number. \n\nTo change a Member's phone\
        \ number, you must first call this endpoint to delete the existing phone number.\n\
        \nExisting Member Sessions that include a phone number authentication factor\
        \ will not be revoked if the phone number is deleted, and MFA will not be\
        \ enforced until the Member logs in again.\nIf you wish to enforce MFA immediately\
        \ after a phone number is deleted, you can do so by prompting the Member to\
        \ enter a new phone number\nand calling the [OTP SMS send](https://stytch.com/docs/b2b/api/otp-sms-send)\
        \ endpoint, then calling the [OTP SMS Authenticate](https://stytch.com/docs/b2b/api/authenticate-otp-sms)\
        \ endpoint."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_organization_v1_DeleteMFAPhoneNumberRequest'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: member_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_DeleteMFAPhoneNumberResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations/{organization_id}/members/{member_id}/totp:
    delete:
      summary: Deletetotp
      operationId: api_organization_v1_organizations_members_DeleteTOTP
      tags:
      - Organizations
      description: 'Delete a Member''s MFA TOTP registration.


        To mint a new registration for a Member, you must first call this endpoint
        to delete the existing registration.


        Existing Member Sessions that include the TOTP authentication factor will
        not be revoked if the registration is deleted, and MFA will not be enforced
        until the Member logs in again.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_organization_v1_DeleteTOTPRequest'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: member_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_DeleteTOTPResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations/members/search:
    post:
      summary: Search
      operationId: api_organization_v1_organizations_members_Search
      tags:
      - Organizations
      description: '

        **Warning**: This endpoint is not recommended for use in login flows. Scaling
        issues may occur, as search performance may vary from ~150 milliseconds to
        9 seconds depending on query complexity and rate limits are set to 100 requests/second.


        Search for Members within specified Organizations. An array with at least
        one `organization_id` is required. Submitting an empty `query` returns all
        non-deleted Members within the specified Organizations.


        All fuzzy search filters require a minimum of three characters.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_organization_v1_SearchRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_SearchResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations/{organization_id}/members/passwords/{member_password_id}:
    delete:
      summary: Deletepassword
      operationId: api_organization_v1_organizations_members_DeletePassword
      tags:
      - Organizations
      description: "Delete a Member's password. \n\nThis endpoint only works for Organization-scoped\
        \ passwords. For cross-org password Projects, use [Require Password Reset\
        \ By Email](https://stytch.com/docs/b2b/api/passwords-require-reset-by-email)\
        \ instead."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_organization_v1_DeletePasswordRequest'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: member_password_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_DeletePasswordResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations/members/dangerously_get/{member_id}:
    get:
      summary: Dangerouslyget
      operationId: api_organization_v1_organizations_members_DangerouslyGet
      tags:
      - Organizations
      description: Get a Member by `member_id`. This endpoint does not require an
        `organization_id`, enabling you to get members across organizations. This
        is a dangerous operation. Incorrect use may open you up to indirect object
        reference (IDOR) attacks. We recommend using the [Get Member](https://stytch.com/docs/b2b/api/get-member)
        API instead.
      parameters:
      - name: member_id
        in: path
        required: true
        schema:
          type: string
      - name: include_deleted
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_GetResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations/{organization_id}/members/{member_id}/oidc_providers:
    get:
      summary: Oidcproviders
      operationId: api_organization_v1_organizations_members_OIDCProviders
      tags:
      - Organizations
      description: "Retrieve the saved OIDC access tokens and ID tokens for a member.\
        \ After a successful OIDC login, Stytch will save the \nissued access token\
        \ and ID token from the identity provider. If a refresh token has been issued,\
        \ Stytch will refresh the \naccess token automatically."
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: member_id
        in: path
        required: true
        schema:
          type: string
      - name: include_refresh_token
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_OIDCProvidersResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations/{organization_id}/members/{member_id}/unlink_retired_email:
    post:
      summary: Unlinkretiredemail
      operationId: api_organization_v1_organizations_members_UnlinkRetiredEmail
      tags:
      - Organizations
      description: "Unlinks a retired email address from a Member specified by their\
        \ `organization_id` and `member_id`. The email address\nto be retired can\
        \ be identified in the request body by either its `email_id`, its `email_address`,\
        \ or both. If using\nboth identifiers they must refer to the same email.\n\
        \nA previously active email address can be marked as retired in one of two\
        \ ways:\n\n- It's replaced with a new primary email address during an explicit\
        \ Member update.\n- A new email address is surfaced by an OAuth, SAML or OIDC\
        \ provider. In this case the new email address becomes the\n  Member's primary\
        \ email address and the old primary email address is retired.\n\nA retired\
        \ email address cannot be used by other Members in the same Organization.\
        \ However, unlinking retired email\naddresses allows them to be subsequently\
        \ re-used by other Organization Members. Retired email addresses can be viewed\n\
        on the [Member object](https://stytch.com/docs/b2b/api/member-object)."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_organization_v1_UnlinkRetiredEmailRequest'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: member_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_UnlinkRetiredEmailResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations/{organization_id}/members/{member_id}/start_email_update:
    post:
      summary: Startemailupdate
      operationId: api_organization_v1_organizations_members_StartEmailUpdate
      tags:
      - Organizations
      description: 'Starts a self-serve email update for a Member specified by their
        `organization_id` and `member_id`.

        To perform a self-serve update, members must be active and have an active,
        verified email address.


        The new email address must meet the following requirements:


        - Must not be in use by another member (retired emails count as used until
        they are [unlinked](https://stytch.com/docs/b2b/api/unlink-retired-member-email))

        - Must not be updating for another member (i.e. two members cannot attempt
        to update to the same email at once)


        The member will receive an Email Magic Link that expires in 5 minutes. If
        they do not verify their new email address in that timeframe, the email

        will be freed up for other members to use.


        The Magic Link will redirect to your `login_redirect_url` (or the configured
        default if one isn''t provided), and you should invoke the [Authenticate Magic
        Link](https://stytch.com/docs/b2b/api/authenticate-magic-link) endpoint as
        normal to complete the flow.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_organization_v1_StartEmailUpdateRequest'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: member_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_StartEmailUpdateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations/{organization_id}/members/{member_id}/connected_apps:
    get:
      summary: Getconnectedapps
      operationId: api_organization_v1_organizations_members_GetConnectedApps
      tags:
      - Organizations
      description: 'Member Get Connected Apps retrieves a list of Connected Apps with
        which the Member has successfully completed an

        authorization flow.

        If the Member revokes a Connected App''s access (e.g. via the Revoke Connected
        App endpoint) then the Connected App will

        no longer be returned in the response. A Connected App''s access may also
        be revoked if the Organization''s allowed Connected

        App policy changes.'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: member_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_GetConnectedAppsResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations/{organization_id}/members:
    post:
      summary: Create
      operationId: api_organization_v1_organizations_members_Create
      tags:
      - Organizations
      description: Creates a Member. An `organization_id` and `email_address` are
        required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_organization_v1_CreateRequest'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_CreateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations/{organization_id}/member:
    get:
      summary: Get
      operationId: api_organization_v1_organizations_members_Get
      tags:
      - Organizations
      description: Get a Member by `member_id` or `email_address`.
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: member_id
        in: query
        required: false
        schema:
          type: string
      - name: email_address
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_GetResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations/{organization_id}/members/{member_id}/oauth_providers/google:
    get:
      summary: Google
      operationId: api_organization_v1_organizations_members_oauth_providers_Google
      tags:
      - Members
      description: "Retrieve the saved Google access token and ID token for a member.\
        \ After a successful OAuth login, Stytch will save the \nissued access token\
        \ and ID token from the identity provider. If a refresh token has been issued,\
        \ Stytch will refresh the \naccess token automatically.\n\nGoogle One Tap\
        \ does not return access tokens. If the member has only authenticated through\
        \ Google One Tap and not through a regular Google OAuth flow, this endpoint\
        \ will not return any tokens.\n\n__Note:__ Google does not issue a refresh\
        \ token on every login, and refresh tokens may expire if unused.\nTo force\
        \ a refresh token to be issued, pass the `?provider_prompt=consent` query\
        \ param into the\n[Start Google OAuth flow](https://stytch.com/docs/b2b/api/oauth-google-start)\
        \ endpoint."
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: member_id
        in: path
        required: true
        schema:
          type: string
      - name: include_refresh_token
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_GoogleResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations/{organization_id}/members/{member_id}/oauth_providers/microsoft:
    get:
      summary: Microsoft
      operationId: api_organization_v1_organizations_members_oauth_providers_Microsoft
      tags:
      - Members
      description: 'Retrieve the saved Microsoft access token and ID token for a member.
        After a successful OAuth login, Stytch will save the

        issued access token and ID token from the identity provider. If a refresh
        token has been issued, Stytch will refresh the

        access token automatically.'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: member_id
        in: path
        required: true
        schema:
          type: string
      - name: include_refresh_token
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_MicrosoftResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations/{organization_id}/members/{member_id}/oauth_providers/slack:
    get:
      summary: Slack
      operationId: api_organization_v1_organizations_members_oauth_providers_Slack
      tags:
      - Members
      description: "Retrieve the saved Slack access token and ID token for a member.\
        \ After a successful OAuth login, Stytch will save the \nissued access token\
        \ and ID token from the identity provider."
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: member_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_SlackResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations/{organization_id}/members/{member_id}/oauth_providers/hubspot:
    get:
      summary: Hubspot
      operationId: api_organization_v1_organizations_members_oauth_providers_Hubspot
      tags:
      - Members
      description: "Retrieve the saved Hubspot access token and ID token for a member.\
        \ After a successful OAuth login, Stytch will save the \nissued access token\
        \ and ID token from the identity provider. If a refresh token has been issued,\
        \ Stytch will refresh the \naccess token automatically."
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: member_id
        in: path
        required: true
        schema:
          type: string
      - name: include_refresh_token
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_HubspotResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations/{organization_id}/members/{member_id}/oauth_providers/github:
    get:
      summary: Github
      operationId: api_organization_v1_organizations_members_oauth_providers_Github
      tags:
      - Members
      description: "Retrieve the saved GitHub access token for a Member. After a successful\
        \ OAuth login, Stytch will save the \nissued access token from the identity\
        \ provider. GitHub does not issue refresh tokens, but will invalidate access\n\
        tokens after very long periods of inactivity."
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: member_id
        in: path
        required: true
        schema:
          type: string
      - name: include_refresh_token
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_GithubResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/organizations/{organization_id}/members/{member_id}/connected_apps/{connected_app_id}/revoke:
    post:
      summary: Revoke
      operationId: api_organization_v1_organizations_members_connected_apps_Revoke
      tags:
      - Members
      description: 'Revoke Connected App revokes a Connected App''s access to a Member
        and revokes all active tokens that have been created

        on the Member''s behalf. New tokens cannot be created until the Member completes
        a new authorization flow with the

        Connected App.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_organization_v1_RevokeRequest'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: member_id
        in: path
        required: true
        schema:
          type: string
      - name: connected_app_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_RevokeResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/idp/oauth/authorize/start:
    post:
      summary: Authorizestart
      operationId: api_b2b_idp_v1_b2b_idp_oauth_AuthorizeStart
      tags:
      - B2B Idp
      description: 'Initiates a request for authorization of a Connected App to access
        a Member''s account.


        Call this endpoint using the query parameters from an OAuth Authorization
        request.

        This endpoint validates various fields (`scope`, `client_id`, `redirect_uri`,
        `prompt`, etc...) are correct and returns

        relevant information for rendering an OAuth Consent Screen.


        This endpoint returns:

        - A public representation of the Connected App requesting authorization

        - Whether _explicit_ consent must be granted before proceeding with the authorization

        - A list of scopes the Member has the ability to grant the Connected App


        Use this response to prompt the Member for consent (if necessary) before calling
        the [Submit OAuth Authorization](https://stytch.com/docs/b2b/api/connected-apps-oauth-authorize)
        endpoint.


        Exactly one of the following must be provided to identify the Member granting
        authorization:

        - `organization_id` + `member_id`

        - `session_token`

        - `session_jwt`


        If a `session_token` or `session_jwt` is passed, the OAuth Authorization will
        be linked to the Member''s session for tracking purposes.

        One of these fields must be used if the Connected App intends to complete
        the [Exchange Access Token](https://stytch.com/docs/b2b/api/connected-app-access-token-exchange)
        flow.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_b2b_idp_v1_AuthorizeStartRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_b2b_idp_v1_AuthorizeStartResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/idp/oauth/authorize:
    post:
      summary: Authorize
      operationId: api_b2b_idp_v1_b2b_idp_oauth_Authorize
      tags:
      - B2B Idp
      description: 'Completes a request for authorization of a Connected App to access
        a Member''s account.


        Call this endpoint using the query parameters from an OAuth Authorization
        request, after previously validating those parameters using the

        [Preflight Check](https://stytch.com/docs/b2b/api/connected-apps-oauth-authorize-start)
        API.

        Note that this endpoint takes in a few additional parameters the preflight
        check does not- `state`, `nonce`, and `code_challenge`.


        If the authorization was successful, the `redirect_uri` will contain a valid
        `authorization_code` embedded as a query parameter.

        If the authorization was unsuccessful, the `redirect_uri` will contain an
        OAuth2.1 `error_code`.

        In both cases, redirect the Member to the location for the response to be
        consumed by the Connected App.


        Exactly one of the following must be provided to identify the Member granting
        authorization:

        - `organization_id` + `member_id`

        - `session_token`

        - `session_jwt`


        If a `session_token` or `session_jwt` is passed, the OAuth Authorization will
        be linked to the Member''s session for tracking purposes.

        One of these fields must be used if the Connected App intends to complete
        the [Exchange Access Token](https://stytch.com/docs/b2b/api/connected-app-access-token-exchange)
        flow.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_b2b_idp_v1_AuthorizeRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_b2b_idp_v1_AuthorizeResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/users:
    post:
      summary: Create
      operationId: api_user_v1_Create
      tags:
      - User
      description: Add a User to Stytch. A `user_id` is returned in the response that
        can then be used to perform other operations within Stytch. An `email` or
        a `phone_number` is required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_user_v1_CreateRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_user_v1_CreateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/users/{user_id}:
    get:
      summary: Get
      operationId: api_user_v1_Get
      tags:
      - User
      description: Get information about a specific User.
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_user_v1_GetResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    put:
      summary: Update
      operationId: api_user_v1_Update
      tags:
      - User
      description: 'Update a User''s attributes.


        **Note:** In order to add a new email address or phone number to an existing
        User object, pass the new email address or phone number into the respective
        `/send` endpoint for the authentication method of your choice. If you specify
        the existing User''s `user_id` while calling the `/send` endpoint, the new,
        unverified email address or phone number will be added to the existing User
        object. If the user successfully authenticates within 5 minutes of the `/send`
        request, the new email address or phone number will be marked as verified
        and remain permanently on the existing Stytch User. Otherwise, it will be
        removed from the User object, and any subsequent login requests using that
        phone number will create a new User. We require this process to guard against
        an account takeover vulnerability.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_user_v1_UpdateRequest'
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_user_v1_UpdateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    delete:
      summary: Delete
      operationId: api_user_v1_Delete
      tags:
      - User
      description: Delete a User from Stytch.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_user_v1_DeleteRequest'
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_user_v1_DeleteResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/users/search:
    post:
      summary: Search
      operationId: api_user_v1_Search
      tags:
      - User
      description: '

        **Warning**: This endpoint is not recommended for use in login flows. Scaling
        issues may occur, as search performance may vary from ~150 milliseconds to
        9 seconds depending on query complexity and rate limits are set to 150 requests/second.


        Search for Users within your Stytch Project.


        Use the `query` object to filter by different fields. See the `query.operands.filter_value`
        documentation below for a list of available filters.


        ### Export all User data


        Submit an empty `query` in your Search Users request to return all of your
        Stytch Project''s Users.


        [This Github repository](https://github.com/stytchauth/stytch-node-export-users)
        contains a utility that leverages the Search Users endpoint to export all
        of your User data to a CSV or JSON file.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_user_v1_SearchRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_user_v1_SearchResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/users/{user_id}/exchange_primary_factor:
    put:
      summary: Exchangeprimaryfactor
      operationId: api_user_v1_ExchangePrimaryFactor
      tags:
      - User
      description: 'Exchange a user''s email address or phone number for another.


        Must pass either an `email_address` or a `phone_number`.


        This endpoint only works if the user has exactly one factor. You are able
        to exchange the type of factor for another as well, i.e. exchange an `email_address`
        for a `phone_number`.


        Use this endpoint with caution as it performs an admin level action.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_user_v1_ExchangePrimaryFactorRequest'
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_user_v1_ExchangePrimaryFactorResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/users/emails/{email_id}:
    delete:
      summary: Deleteemail
      operationId: api_user_v1_DeleteEmail
      tags:
      - User
      description: Delete an email from a User.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_user_v1_DeleteEmailRequest'
      parameters:
      - name: email_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_user_v1_DeleteEmailResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/users/phone_numbers/{phone_id}:
    delete:
      summary: Deletephonenumber
      operationId: api_user_v1_DeletePhoneNumber
      tags:
      - User
      description: Delete a phone number from a User.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_user_v1_DeletePhoneNumberRequest'
      parameters:
      - name: phone_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_user_v1_DeletePhoneNumberResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/users/webauthn_registrations/{webauthn_registration_id}:
    delete:
      summary: Deletewebauthnregistration
      operationId: api_user_v1_DeleteWebAuthnRegistration
      tags:
      - User
      description: Delete a WebAuthn registration from a User.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_user_v1_DeleteWebAuthnRegistrationRequest'
      parameters:
      - name: webauthn_registration_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_user_v1_DeleteWebAuthnRegistrationResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/users/biometric_registrations/{biometric_registration_id}:
    delete:
      summary: Deletebiometricregistration
      operationId: api_user_v1_DeleteBiometricRegistration
      tags:
      - User
      description: Delete a biometric registration from a User.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_user_v1_DeleteBiometricRegistrationRequest'
      parameters:
      - name: biometric_registration_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_user_v1_DeleteBiometricRegistrationResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/users/totps/{totp_id}:
    delete:
      summary: Deletetotp
      operationId: api_user_v1_DeleteTOTP
      tags:
      - User
      description: Delete a TOTP from a User.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_user_v1_DeleteTOTPRequest'
      parameters:
      - name: totp_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_user_v1_DeleteTOTPResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/users/crypto_wallets/{crypto_wallet_id}:
    delete:
      summary: Deletecryptowallet
      operationId: api_user_v1_DeleteCryptoWallet
      tags:
      - User
      description: Delete a crypto wallet from a User.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_user_v1_DeleteCryptoWalletRequest'
      parameters:
      - name: crypto_wallet_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_user_v1_DeleteCryptoWalletResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/users/passwords/{password_id}:
    delete:
      summary: Deletepassword
      operationId: api_user_v1_DeletePassword
      tags:
      - User
      description: Delete a password from a User.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_user_v1_DeletePasswordRequest'
      parameters:
      - name: password_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_user_v1_DeletePasswordResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/users/oauth/{oauth_user_registration_id}:
    delete:
      summary: Deleteoauthregistration
      operationId: api_user_v1_DeleteOAuthRegistration
      tags:
      - User
      description: Delete an OAuth registration from a User.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_user_v1_DeleteOAuthRegistrationRequest'
      parameters:
      - name: oauth_user_registration_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_user_v1_DeleteOAuthRegistrationResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/users/{user_id}/connected_apps:
    get:
      summary: Connectedapps
      operationId: api_user_v1_ConnectedApps
      tags:
      - User
      description: 'User Get Connected Apps retrieves a list of Connected Apps with
        which the User has successfully completed an

        authorization flow.

        If the User revokes a Connected App''s access (e.g. via the Revoke Connected
        App endpoint) then the Connected App will

        no longer be returned in the response.'
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_user_v1_ConnectedAppsResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/users/{user_id}/connected_apps/{connected_app_id}/revoke:
    post:
      summary: Revoke
      operationId: api_user_v1_Revoke
      tags:
      - User
      description: 'Revoke Connected App revokes a Connected App''s access to a User
        and revokes all active tokens that have been created

        on the User''s behalf. New tokens cannot be created until the User completes
        a new authorization flow with the

        Connected App.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_user_v1_RevokeRequest'
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: connected_app_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_user_v1_RevokeResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/sessions:
    get:
      summary: Get
      operationId: api_session_v1_Get
      tags:
      - Session
      description: List all active Sessions for a given `user_id`. All timestamps
        are formatted according to the RFC 3339 standard and are expressed in UTC,
        e.g. `2021-12-29T12:33:09Z`.
      parameters:
      - name: user_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_session_v1_GetResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/sessions/authenticate:
    post:
      summary: Authenticate
      operationId: api_session_v1_Authenticate
      tags:
      - Session
      description: 'Authenticate a session token or session JWT and retrieve associated
        session data. If `session_duration_minutes` is included, update the lifetime
        of the session to be that many minutes from now. All timestamps are formatted
        according to the RFC 3339 standard and are expressed in UTC, e.g. `2021-12-29T12:33:09Z`.
        This endpoint requires exactly one `session_jwt` or `session_token` as part
        of the request. If both are included, you will receive a `too_many_session_arguments`
        error.


        You may provide a JWT that needs to be refreshed and is expired according
        to its `exp` claim. A new JWT will be returned if both the signature and the
        underlying Session are still valid. See our [How to use Stytch Session JWTs](https://stytch.com/docs/guides/sessions/using-jwts)
        guide for more information.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_session_v1_AuthenticateRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_session_v1_AuthenticateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/sessions/revoke:
    post:
      summary: Revoke
      operationId: api_session_v1_Revoke
      tags:
      - Session
      description: 'Revoke a Session, immediately invalidating all of its session
        tokens. You can revoke a session in three ways: using its ID, or using one
        of its session tokens, or one of its JWTs. This endpoint requires exactly
        one of those to be included in the request. It will return an error if multiple
        are present.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_session_v1_RevokeRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_session_v1_RevokeResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/sessions/migrate:
    post:
      summary: Migrate
      operationId: api_session_v1_Migrate
      tags:
      - Session
      description: Migrate a session from an external OIDC compliant endpoint. Stytch
        will call the external UserInfo endpoint defined in your Stytch Project settings
        in the [Dashboard](https://stytch.com/dashboard), and then perform a lookup
        using the `session_token`. If the response contains a valid email address,
        Stytch will attempt to match that email address with an existing User and
        create a Stytch Session. You will need to create the user before using this
        endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_session_v1_MigrateRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_session_v1_MigrateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/sessions/exchange_access_token:
    post:
      summary: Exchangeaccesstoken
      operationId: api_session_v1_ExchangeAccessToken
      tags:
      - Session
      description: "Use this endpoint to exchange a Connected Apps Access Token back\
        \ into a Stytch Session for the underlying User. \nThis session can be used\
        \ with the Stytch SDKs and APIs.\n\nThe Session returned will be the same\
        \ Session that was active in your application (the authorizing party) during\
        \ the initial authorization flow.\n\nThe Access Token must contain the `full_access`\
        \ scope (only available to First Party clients) and must not be more than\
        \ 5 minutes old. Access Tokens may only be exchanged a single time."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_session_v1_ExchangeAccessTokenRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_session_v1_ExchangeAccessTokenResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/sessions/jwks/{project_id}:
    get:
      summary: Getjwks
      operationId: api_session_v1_GetJWKS
      tags:
      - Session
      description: 'Get the JSON Web Key Set (JWKS) for a project.


        Within the JWKS, the JSON Web Keys are rotated every ~6 months. Upon rotation,
        new JWTs will be signed using the new key, and both keys will be returned
        by this endpoint for a period of 1 month.


        JWTs have a set lifetime of 5 minutes, so there will be a 5 minute period
        where some JWTs will be signed by the old keys, and some JWTs will be signed
        by the new keys. The correct key to use for validation is determined by matching
        the `kid` value of the JWT and key.


        If you''re using one of our [backend SDKs](https://stytch.com/docs/b2b/sdks),
        the JSON Web Key (JWK) rotation will be handled for you.


        If you''re using your own JWT validation library, many have built-in support
        for JWK rotation, and you''ll just need to supply this API endpoint. If not,
        your application should decide which JWK to use for validation by inspecting
        the `kid` value.


        See our [How to use Stytch Session JWTs](https://stytch.com/docs/guides/sessions/using-jwts)
        guide for more information.'
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_session_v1_GetJWKSResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/sessions/attest:
    post:
      summary: Attest
      operationId: api_session_v1_Attest
      tags:
      - Session
      description: Exchange an auth token issued by a trusted identity provider for
        a Stytch session. You must first register a Trusted Auth Token profile in
        the Stytch dashboard [here](https://stytch.com/dashboard/trusted-auth-tokens).
        If a session token or session JWT is provided, it will add the trusted auth
        token as an authentication factor to the existing session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_session_v1_AttestRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_session_v1_AttestResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/sessions:
    get:
      summary: Get
      operationId: api_multitenant_session_v1_Get
      tags:
      - Session
      description: Retrieves all active Sessions for a Member.
      parameters:
      - name: organization_id
        in: query
        required: true
        schema:
          type: string
      - name: member_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_multitenant_session_v1_GetResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/sessions/authenticate:
    post:
      summary: Authenticate
      operationId: api_multitenant_session_v1_Authenticate
      tags:
      - Session
      description: 'Authenticates a Session and updates its lifetime by the specified
        `session_duration_minutes`. If the `session_duration_minutes` is not specified,
        a Session will not be extended. This endpoint requires either a `session_jwt`
        or `session_token` be included in the request. It will return an error if
        both are present.


        You may provide a JWT that needs to be refreshed and is expired according
        to its `exp` claim. A new JWT will be returned if both the signature and the
        underlying Session are still valid. See our [How to use Stytch Session JWTs](https://stytch.com/docs/b2b/guides/sessions/resources/using-jwts)
        guide for more information.


        If an `authorization_check` object is passed in, this method will also check
        if the Member is authorized to perform the given action on the given Resource
        in the specified Organization. A Member is authorized if their Member Session
        contains a Role, assigned [explicitly or implicitly](https://stytch.com/docs/b2b/guides/rbac/role-assignment),
        with adequate permissions.

        In addition, the `organization_id` passed in the authorization check must
        match the Member''s Organization.


        If the Member is not authorized to perform the specified action on the specified
        Resource, or if the

        `organization_id` does not match the Member''s Organization, a 403 error will
        be thrown.

        Otherwise, the response will contain a list of Roles that satisfied the authorization
        check.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_multitenant_session_v1_AuthenticateRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_multitenant_session_v1_AuthenticateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/sessions/revoke:
    post:
      summary: Revoke
      operationId: api_multitenant_session_v1_Revoke
      tags:
      - Session
      description: Revoke a Session and immediately invalidate all its tokens. To
        revoke a specific Session, pass either the `member_session_id`, `session_token`,
        or `session_jwt`. To revoke all Sessions for a Member, pass the `member_id`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_multitenant_session_v1_RevokeRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_multitenant_session_v1_RevokeResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/sessions/exchange:
    post:
      summary: Exchange
      operationId: api_multitenant_session_v1_Exchange
      tags:
      - Session
      description: 'Use this endpoint to exchange a Member''s existing session for
        another session in a different Organization. This can be used to accept an
        invite, but not to create a new member via domain matching.


        To create a new member via email domain JIT Provisioning, use the [Exchange
        Intermediate Session](https://stytch.com/docs/b2b/api/exchange-intermediate-session)
        flow instead.


        If the user **has** already satisfied the authentication requirements of the
        Organization they are trying to switch into, this API will return `member_authenticated:
        true` and a `session_token` and `session_jwt`.


        If the user **has not** satisfied the primary or secondary authentication
        requirements of the Organization they are attempting to switch into, this
        API will return `member_authenticated: false` and an `intermediate_session_token`.


        If `primary_required` is set, prompt the user to fulfill the Organization''s
        auth requirements using the options returned in `primary_required.allowed_auth_methods`.


        If `primary_required` is null and `mfa_required` is set, check `mfa_required.member_options`
        to determine if the Member has SMS OTP or TOTP set up for MFA and prompt accordingly.
        If the Member has SMS OTP, check `mfa_required.secondary_auth_initiated` to
        see if the OTP has already been sent.


        Include the `intermediate_session_token` returned above when calling the `authenticate()`
        method that the user needed to perform. Once the user has completed the authentication
        requirements they were missing, they will be granted a full `session_token`
        and `session_jwt` to indicate they have successfully logged into the Organization.


        The `intermediate_session_token` can also be used with the [Exchange Intermediate
        Session endpoint](https://stytch.com/docs/b2b/api/exchange-intermediate-session)
        or the [Create Organization via Discovery endpoint](https://stytch.com/docs/b2b/api/create-organization-via-discovery)
        to join a different Organization or create a new one.

        The `session_duration_minutes` and `session_custom_claims` parameters will
        be ignored.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_multitenant_session_v1_ExchangeRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_multitenant_session_v1_ExchangeResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/sessions/exchange_access_token:
    post:
      summary: Exchangeaccesstoken
      operationId: api_multitenant_session_v1_ExchangeAccessToken
      tags:
      - Session
      description: "Use this endpoint to exchange a Connected Apps Access Token back\
        \ into a Member Session for the underlying Member. \nThis session can be used\
        \ with the Stytch SDKs and APIs.\n\nThe Access Token must contain the `full_access`\
        \ scope (only available to First Party clients) and must not be more than\
        \ 5 minutes old. Access Tokens may only be exchanged a single time. \n\nThe\
        \ Member Session returned will be the same Member Session that was active\
        \ in your application (the authorizing party) during the initial authorization\
        \ flow.\n\nBecause the Member previously completed MFA and satisfied all Organization\
        \ authentication requirements at the time of the original Access Token issuance,\
        \ this endpoint will never return an `intermediate_session_token` or require\
        \ MFA."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_multitenant_session_v1_ExchangeAccessTokenRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_multitenant_session_v1_ExchangeAccessTokenResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/sessions/attest:
    post:
      summary: Attest
      operationId: api_multitenant_session_v1_Attest
      tags:
      - Session
      description: Exchange an auth token issued by a trusted identity provider for
        a Stytch session. You must first register a Trusted Auth Token profile in
        the Stytch dashboard [here](https://stytch.com/dashboard/trusted-auth-tokens).  If
        a session token or session JWT is provided, it will add the trusted auth token
        as an authentication factor to the existing session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_multitenant_session_v1_AttestRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_multitenant_session_v1_AttestResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/sessions/migrate:
    post:
      summary: Migrate
      operationId: api_multitenant_session_v1_Migrate
      tags:
      - Session
      description: 'Migrate a session from an external OIDC compliant endpoint.

        Stytch will call the external UserInfo endpoint defined in your Stytch Project
        settings in the [Dashboard](https://stytch.com/dashboard/migrations), and
        then perform a lookup using the `session_token`.

        If the response contains a valid email address, Stytch will attempt to match
        that email address with an existing Member in your Organization and create
        a Stytch Session.

        You will need to create the member before using this endpoint.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_multitenant_session_v1_MigrateRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_multitenant_session_v1_MigrateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/sessions/jwks/{project_id}:
    get:
      summary: Getjwks
      operationId: api_multitenant_session_v1_GetJWKS
      tags:
      - Session
      description: 'Get the JSON Web Key Set (JWKS) for a project.


        Within the JWKS, the JSON Web Keys are rotated every ~6 months. Upon rotation,
        new JWTs will be signed using the new key, and both keys will be returned
        by this endpoint for a period of 1 month.


        JWTs have a set lifetime of 5 minutes, so there will be a 5 minute period
        where some JWTs will be signed by the old keys, and some JWTs will be signed
        by the new keys. The correct key to use for validation is determined by matching
        the `kid` value of the JWT and key.


        If you''re using one of our [backend SDKs](https://stytch.com/docs/b2b/sdks),
        the JSON Web Key (JWK) rotation will be handled for you.


        If you''re using your own JWT validation library, many have built-in support
        for JWK rotation, and you''ll just need to supply this API endpoint. If not,
        your application should decide which JWK to use for validation by inspecting
        the `kid` value.


        See our [How to use Stytch Session JWTs](https://stytch.com/docs/b2b/guides/sessions/resources/using-jwts)
        guide for more information.'
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_multitenant_session_v1_GetJWKSResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/impersonation/authenticate:
    post:
      summary: Authenticate
      operationId: api_b2b_impersonation_v1_Authenticate
      tags:
      - B2B Impersonation
      description: "Authenticate an impersonation token to impersonate a Member. This\
        \ endpoint requires an impersonation token that is not expired or previously\
        \ used. \nA Stytch session will be created for the impersonated member with\
        \ a 60 minute duration. Impersonated sessions cannot be extended.\n\nPrior\
        \ to this step, you can generate an impersonation token by visiting the Stytch\
        \ Dashboard, viewing a member, and clicking the `Impersonate Member` button."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_b2b_impersonation_v1_AuthenticateRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_b2b_impersonation_v1_AuthenticateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/rbac/policy:
    get:
      summary: Policy
      operationId: api_b2b_rbac_v1_Policy
      tags:
      - B2B Rbac
      description: 'Get the active RBAC Policy for your current Stytch Project. An
        RBAC Policy is the canonical document that stores all defined Resources and
        Roles within your RBAC permissioning model.


        When using the backend SDKs, the RBAC Policy will be cached to allow for local
        evaluations, eliminating the need for an extra request to Stytch. The policy
        will be refreshed if an authorization check is requested and the RBAC policy
        was last updated more than 5 minutes ago.


        Resources and Roles can be created and managed within the [RBAC page](https://stytch.com/dashboard/rbac)
        in the Dashboard.

        Additionally, [Role assignment](https://stytch.com/docs/b2b/guides/rbac/role-assignment)
        can be programmatically managed through certain Stytch API endpoints.


        Check out the [RBAC overview](https://stytch.com/docs/b2b/guides/rbac/overview)
        to learn more about Stytch''s RBAC permissioning model.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_b2b_rbac_v1_PolicyResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/b2b/recovery_codes/recover:
    post:
      summary: Recover
      operationId: api_b2b_recovery_codes_v1_Recover
      tags:
      - B2B Recovery Codes
      description: Allows a Member to complete an MFA flow by consuming a recovery
[...]
