openapi: 3.0.3
info:
  title: Stytch API
  description: The Stytch API provides endpoints for authentication and user management.
  version: 1.0.0
  contact:
    name: Stytch Support
    url: https://stytch.com/docs
    email: support@stytch.com
servers:
- url: https://api.stytch.com
  description: Production server
- url: https://test.stytch.com
  description: Test server
security:
- basicAuth: []
paths:
  /v1/connected_apps/clients/{client_id}:
    get:
      summary: Get
      operationId: api_connectedapps_v1_connected_apps_clients_Get
      tags:
      - Connected Apps
      description: Retrieve details of a specific Connected App by `client_id`.
      parameters:
      - name: client_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_GetResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach
                  out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
    put:
      summary: Update
      operationId: api_connectedapps_v1_connected_apps_clients_Update
      tags:
      - Connected Apps
      description: Updates mutable fields of a Connected App. Cannot update Client
        Type, Client ID, or Secrets.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_UpdateRequest'
      parameters:
      - name: client_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_UpdateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach
                  out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
    delete:
      summary: Delete
      operationId: api_connectedapps_v1_connected_apps_clients_Delete
      tags:
      - Connected Apps
      description: Deletes a Connected App.
      parameters:
      - name: client_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_DeleteResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach
                  out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
  /v1/connected_apps/clients/search:
    post:
      summary: Search
      operationId: api_connectedapps_v1_connected_apps_clients_Search
      tags:
      - Connected Apps
      description: Search for Connected Apps. Supports cursor-based pagination. Specific
        filters coming soon.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_SearchRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_SearchResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach
                  out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
  /v1/connected_apps/clients:
    post:
      summary: Create
      operationId: api_connectedapps_v1_connected_apps_clients_Create
      tags:
      - Connected Apps
      description: 'Creates a new Connected App. If the Connected App `client_type`
        is `first_party` or `third_party` a `client_secret` is returned.


        **Important:** This is the only time you will be able to view the generated
        `client_secret` in the API response. Stytch stores a hash of the `client_secret`
        and cannot recover the value if lost. Be sure to persist the `client_secret`
        in a secure location. If the `client_secret` is lost, you will need to trigger
        a secret rotation flow to receive another one.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_CreateRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_CreateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach
                  out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
  /v1/connected_apps/clients/{client_id}/secrets/rotate/start:
    post:
      summary: Rotatestart
      operationId: api_connectedapps_v1_connected_apps_clients_secrets_RotateStart
      tags:
      - Clients
      description: 'Initiate the rotation of a Connected App client secret. After
        this endpoint is called, both the client''s `client_secret` and `next_client_secret`
        will be valid. To complete the secret rotation flow, update all usages of
        `client_secret` to `next_client_secret` and call the Rotate Secret Endpoint
        to complete the flow.

        Secret rotation can be cancelled using the Cancel Secret Rotation endpoint.


        **Important:** This is the only time you will be able to view the generated
        `next_client_secret` in the API response. Stytch stores a hash of the `next_client_secret`
        and cannot recover the value if lost. Be sure to persist the `next_client_secret`
        in a secure location. If the `next_client_secret` is lost, you will need to
        trigger a secret rotation flow to receive another one.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_secrets_RotateStartRequest'
      parameters:
      - name: client_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_secrets_RotateStartResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach
                  out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
  /v1/connected_apps/clients/{client_id}/secrets/rotate/cancel:
    post:
      summary: Rotatecancel
      operationId: api_connectedapps_v1_connected_apps_clients_secrets_RotateCancel
      tags:
      - Clients
      description: Cancel the rotation of a Connected App client secret started with
        the Start Secret Rotation Endpoint. After this endpoint is called, the client's
        `next_client_secret` is discarded and only the original `client_secret` will
        be valid.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_secrets_RotateCancelRequest'
      parameters:
      - name: client_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_secrets_RotateCancelResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach
                  out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
  /v1/connected_apps/clients/{client_id}/secrets/rotate:
    post:
      summary: Rotate
      operationId: api_connectedapps_v1_connected_apps_clients_secrets_Rotate
      tags:
      - Clients
      description: 'Complete the rotation of a Connected App client secret started
        with the Rotate Secret Start Endpoint.

        After this endpoint is called, the client''s `next_client_secret` becomes
        its `client_secret` and the previous `client_secret` will no longer be valid.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_secrets_RotateRequest'
      parameters:
      - name: client_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_secrets_RotateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach
                  out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
  /v1/b2b/scim/{organization_id}/connection/{connection_id}:
    put:
      summary: Update
      operationId: api_b2b_scim_v1_b2b_scim_connection_Update
      tags:
      - B2B Scim
      description: Update a SCIM Connection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_b2b_scim_v1_b2b_scim_connection_UpdateRequest'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: connection_id
        in: path
        required: true
        schema:
          type: string
      - name: X-Stytch-Member-Session
        in: header
        required: false
        description: A Stytch session that can be used to run the request with the
          given member's permissions.
        schema:
          type: string
      - name: X-Stytch-Member-SessionJWT
        in: header
        required: false
        description: A Stytch Session JSON Web Token (JWT) that can be used to run
          the request with the given member's permissions.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_b2b_scim_v1_b2b_scim_connection_UpdateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach
                  out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
      x-code-samples:
      - lang: python
        label: Python
        source: "# PUT /v1/b2b/scim/{organization_id}/connection/{connection_id}\n\
          from stytch import B2BClient\nfrom stytch.b2b.models.scim_connection import\
          \ UpdateRequestOptions\nfrom stytch.shared.method_options import Authorization\n\
          \nclient = B2BClient(\n    project_id=\"${projectId}\",\n    secret=\"${secret}\"\
          ,\n)\n\nresp = client.scim.connection.update(\n    organization_id=\"${organizationId}\"\
          ,\n    connection_id=\"${scimConnectionId}\",\n    display_name=\"Example\
          \ SCIM connection\",\n    method_options=UpdateRequestOptions(\n       \
          \ authorization=Authorization(\n            session_token=\"${sessionToken}\"\
          ,\n        ),\n    ),\n)\n\nprint(resp)\n"
      - lang: javascript
        label: Node.js
        source: "// PUT /v1/b2b/scim/{organization_id}/connection/{connection_id}\n\
          const stytch = require('stytch');\n\nconst client = new stytch.B2BClient({\n\
          \  project_id: '${projectId}',\n  secret: '${secret}',\n});\n\nconst params\
          \ = {\n  organization_id: \"${organizationId}\",\n  connection_id: \"${scimConnectionId}\"\
          ,\n  display_name: \"Example SCIM connection\",\n};\n\nconst options = {\n\
          \  authorization: {\n    session_token: '${sessionToken}',\n  },\n};\n\n\
          client.scim.connection.update(params, options)\n  .then(resp => { console.log(resp)\
          \ })\n  .catch(err => { console.log(err) });"
      - lang: java
        label: Java
        source: "// PUT /v1/b2b/scim/{organization_id}/connection/{connection_id}\n\
          package com.example;\n\nimport com.stytch.java.b2b.models.scimconnection.UpdateRequest;\n\
          import com.stytch.java.b2b.models.scimconnection.UpdateRequestOptions;\n\
          import com.stytch.java.b2b.StytchB2BClient;\nimport com.stytch.java.common.methodoptions.Authorization;\n\
          import com.stytch.java.common.StytchResult;\n\npublic class Main {\n   \
          \ public static void main(String[] args) {\n        StytchB2BClient.configure(\"\
          ${projectId}\", \"${secret}\");\n\n        UpdateRequest params = new UpdateRequest();\n\
          \        params.setOrganizationId(\"${organizationId}\");\n        params.setConnectionId(\"\
          ${scimConnectionId}\");\n        params.setDisplayName(\"Example SCIM connection\"\
          );\n\n        UpdateRequestOptions options = new UpdateRequestOptions();\n\
          \        Authorization authorization = new Authorization();\n        authorization.setSessionToken(\"\
          ${sessionToken}\");\n        options.setAuthorization(authorization);\n\n\
          \        Object result = StytchB2BClient.getSCIM().getConnection().update(params,\
          \ options);\n        if (result instanceof StytchResult.Success) {\n   \
          \       System.out.println(((StytchResult.Success) result).getValue());\n\
          \        } else {\n          System.out.println(((StytchResult.Error) result).getException());\n\
          \        }\n    }\n}"
      - lang: ruby
        label: Ruby
        source: "# PUT /v1/b2b/scim/{organization_id}/connection/{connection_id}\n\
          require 'stytch'\n\nclient = StytchB2B::Client.new(\n  project_id: '${projectId}',\n\
          \  secret: '${secret}'\n)\n\nresp = client.scim.connection.update(\n  organization_id:\
          \ '${organizationId}',\n  connection_id: '${scimConnectionId}',\n  display_name:\
          \ 'Example SCIM connection',\n  method_options: StytchB2B::SCIM::Connection::UpdateRequestOptions.new(\n\
          \    authorization: Stytch::MethodOptions::Authorization.new(session_token:\
          \ '${sessionToken}')\n  )\n)\n\nputs resp\n"
      - lang: kotlin
        label: Kotlin
        source: "// PUT /v1/b2b/scim/{organization_id}/connection/{connection_id}\n\
          package com.example\n\nimport com.stytch.java.b2b.StytchB2BClient\nimport\
          \ com.stytch.java.b2b.models.scimconnection.UpdateRequest\nimport com.stytch.java.b2b.models.scimconnection.UpdateRequestOptions\n\
          import com.stytch.java.common.methodoptions.Authorization\n\nfun main()\
          \ {\n    StytchB2BClient.configure(\n        projectId = \"${projectId}\"\
          ,\n        secret = \"${secret}\",\n    )\n\n    when (\n        val result\
          \ =\n            StytchB2BClient.scim.connection.update(\n             \
          \   UpdateRequest(\n                    organizationId = \"${organizationId}\"\
          ,\n                    connectionId = \"${scimConnectionId}\",\n       \
          \             displayName = \"Example SCIM connection\",\n             \
          \   ),\n                UpdateRequestOptions(\n                    Authorization(\n\
          \                        sessionToken = \"${sessionToken}\",\n         \
          \           ),\n                ),\n            )\n    ) {\n        is StytchResult.Success\
          \ -> println(result.value)\n        is StytchResult.Error -> println(result.exception)\n\
          \    }\n}\n"
      - lang: rust
        label: Rust
        source: "// PUT /v1/b2b/scim/{organization_id}/connection/{connection_id}\n\
          use stytch::b2b::client::Client;\nuse stytch::b2b::scim_connection::UpdateRequest;\n\
          \nfn main() {\n    let client = Client::new(\"${projectId}\", \"${secret}\"\
          ).unwrap();\n    let resp = client.scim.connection.update(\n        UpdateRequest{\n\
          \            organization_id: \"${organizationId}\",\n            connection_id:\
          \ \"${scimConnectionId}\",\n            display_name: Some(String::from(\"\
          Example SCIM connection\")),\n            ..Default::default()\n       \
          \ }\n    ).await;\n    println!(\"The response is {:?}\", resp);\n}"
    delete:
      summary: Delete
      operationId: api_b2b_scim_v1_b2b_scim_connection_Delete
      tags:
      - B2B Scim
      description: Deletes a SCIM Connection.
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: connection_id
        in: path
        required: true
        schema:
          type: string
      - name: X-Stytch-Member-Session
        in: header
        required: false
        description: A Stytch session that can be used to run the request with the
          given member's permissions.
        schema:
          type: string
      - name: X-Stytch-Member-SessionJWT
        in: header
        required: false
        description: A Stytch Session JSON Web Token (JWT) that can be used to run
          the request with the given member's permissions.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_b2b_scim_v1_b2b_scim_connection_DeleteResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach
                  out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
      x-code-samples:
      - lang: python
        label: Python
        source: "# DELETE /v1/b2b/scim/{organization_id}/connection/{connection_id}\n\
          from stytch import B2BClient\nfrom stytch.b2b.models.scim_connection import\
          \ DeleteRequestOptions\nfrom stytch.shared.method_options import Authorization\n\
          \nclient = B2BClient(\n    project_id=\"${projectId}\",\n    secret=\"${secret}\"\
          ,\n)\n\nresp = client.scim.connection.delete(\n    organization_id=\"${organizationId}\"\
          ,\n    connection_id=\"${scimConnectionId}\",\n    method_options=DeleteRequestOptions(\n\
          \        authorization=Authorization(\n            session_token=\"${sessionToken}\"\
          ,\n        ),\n    ),\n)\n\nprint(resp)\n"
      - lang: javascript
        label: Node.js
        source: "// DELETE /v1/b2b/scim/{organization_id}/connection/{connection_id}\n\
          const stytch = require('stytch');\n\nconst client = new stytch.B2BClient({\n\
          \  project_id: '${projectId}',\n  secret: '${secret}',\n});\n\nconst params\
          \ = {\n  organization_id: \"${organizationId}\",\n  connection_id: \"${scimConnectionId}\"\
          ,\n};\n\nconst options = {\n  authorization: {\n    session_token: '${sessionToken}',\n\
          \  },\n};\n\nclient.scim.connection.delete(params, options)\n  .then(resp\
          \ => { console.log(resp) })\n  .catch(err => { console.log(err) });"
      - lang: java
        label: Java
        source: "// DELETE /v1/b2b/scim/{organization_id}/connection/{connection_id}\n\
          package com.example;\n\nimport com.stytch.java.b2b.models.scimconnection.DeleteRequest;\n\
          import com.stytch.java.b2b.models.scimconnection.DeleteRequestOptions;\n\
          import com.stytch.java.b2b.StytchB2BClient;\nimport com.stytch.java.common.methodoptions.Authorization;\n\
          import com.stytch.java.common.StytchResult;\n\npublic class Main {\n   \
          \ public static void main(String[] args) {\n        StytchB2BClient.configure(\"\
          ${projectId}\", \"${secret}\");\n\n        DeleteRequest params = new DeleteRequest();\n\
          \        params.setOrganizationId(\"${organizationId}\");\n        params.setConnectionId(\"\
          ${scimConnectionId}\");\n\n        DeleteRequestOptions options = new DeleteRequestOptions();\n\
          \        Authorization authorization = new Authorization();\n        authorization.setSessionToken(\"\
          ${sessionToken}\");\n        options.setAuthorization(authorization);\n\n\
          \        Object result = StytchB2BClient.getSCIM().getConnection().delete(params,\
          \ options);\n        if (result instanceof StytchResult.Success) {\n   \
          \       System.out.println(((StytchResult.Success) result).getValue());\n\
          \        } else {\n          System.out.println(((StytchResult.Error) result).getException());\n\
          \        }\n    }\n}"
      - lang: ruby
        label: Ruby
        source: "# DELETE /v1/b2b/scim/{organization_id}/connection/{connection_id}\n\
          require 'stytch'\n\nclient = StytchB2B::Client.new(\n  project_id: '${projectId}',\n\
          \  secret: '${secret}'\n)\n\nresp = client.scim.connection.delete(\n  organization_id:\
          \ '${organizationId}',\n  connection_id: '${scimConnectionId}',\n  method_options:\
          \ StytchB2B::SCIM::Connection::DeleteRequestOptions.new(\n    authorization:\
          \ Stytch::MethodOptions::Authorization.new(session_token: '${sessionToken}')\n\
          \  )\n)\n\nputs resp\n"
      - lang: kotlin
        label: Kotlin
        source: "// DELETE /v1/b2b/scim/{organization_id}/connection/{connection_id}\n\
          package com.example\n\nimport com.stytch.java.b2b.StytchB2BClient\nimport\
          \ com.stytch.java.b2b.models.scimconnection.DeleteRequest\nimport com.stytch.java.b2b.models.scimconnection.DeleteRequestOptions\n\
          import com.stytch.java.common.methodoptions.Authorization\n\nfun main()\
          \ {\n    StytchB2BClient.configure(\n        projectId = \"${projectId}\"\
          ,\n        secret = \"${secret}\",\n    )\n\n    when (\n        val result\
          \ =\n            StytchB2BClient.scim.connection.delete(\n             \
          \   DeleteRequest(\n                    organizationId = \"${organizationId}\"\
          ,\n                    connectionId = \"${scimConnectionId}\",\n       \
          \         ),\n                DeleteRequestOptions(\n                  \
          \  Authorization(\n                        sessionToken = \"${sessionToken}\"\
          ,\n                    ),\n                ),\n            )\n    ) {\n\
          \        is StytchResult.Success -> println(result.value)\n        is StytchResult.Error\
          \ -> println(result.exception)\n    }\n}\n"
      - lang: rust
        label: Rust
        source: "// DELETE /v1/b2b/scim/{organization_id}/connection/{connection_id}\n\
          use stytch::b2b::client::Client;\nuse stytch::b2b::scim_connection::DeleteRequest;\n\
          \nfn main() {\n    let client = Client::new(\"${projectId}\", \"${secret}\"\
          ).unwrap();\n    let resp = client.scim.connection.delete(\n        DeleteRequest{\n\
          \            organization_id: \"${organizationId}\",\n            connection_id:\
          \ \"${scimConnectionId}\",\n            ..Default::default()\n        }\n\
          \    ).await;\n    println!(\"The response is {:?}\", resp);\n}"
    get:
      summary: Getgroups
      operationId: api_b2b_scim_v1_b2b_scim_connection_GetGroups
      tags:
      - B2B Scim
      description: Gets a paginated list of all SCIM Groups associated with a given
        Connection.
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: connection_id
        in: path
        required: true
        schema:
          type: string
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: X-Stytch-Member-Session
        in: header
        required: false
        description: A Stytch session that can be used to run the request with the
          given member's permissions.
        schema:
          type: string
      - name: X-Stytch-Member-SessionJWT
        in: header
        required: false
        description: A Stytch Session JSON Web Token (JWT) that can be used to run
          the request with the given member's permissions.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_b2b_scim_v1_b2b_scim_connection_GetGroupsResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach
                  out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
  /v1/b2b/scim/{organization_id}/connection/{connection_id}/rotate/start:
    post:
      summary: Rotatestart
      operationId: api_b2b_scim_v1_b2b_scim_connection_RotateStart
      tags:
      - B2B Scim
      description: Start a SCIM token rotation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_b2b_scim_v1_b2b_scim_connection_RotateStartRequest'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: connection_id
        in: path
        required: true
        schema:
          type: string
      - name: X-Stytch-Member-Session
        in: header
        required: false
        description: A Stytch session that can be used to run the request with the
          given member's permissions.
        schema:
          type: string
      - name: X-Stytch-Member-SessionJWT
        in: header
        required: false
        description: A Stytch Session JSON Web Token (JWT) that can be used to run
          the request with the given member's permissions.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_b2b_scim_v1_b2b_scim_connection_RotateStartResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach
                  out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
  /v1/b2b/scim/{organization_id}/connection/{connection_id}/rotate/complete:
    post:
      summary: Rotatecomplete
      operationId: api_b2b_scim_v1_b2b_scim_connection_RotateComplete
      tags:
      - B2B Scim
      description: Completes a SCIM token rotation. This will complete the current
        token rotation process and update the active token to be the new token supplied
        in the [start SCIM token rotation](https://stytch.com/docs/b2b/api/scim-rotate-token-start)
        response.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_b2b_scim_v1_b2b_scim_connection_RotateCompleteRequest'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: connection_id
        in: path
        required: true
        schema:
          type: string
      - name: X-Stytch-Member-Session
        in: header
        required: false
        description: A Stytch session that can be used to run the request with the
          given member's permissions.
        schema:
          type: string
      - name: X-Stytch-Member-SessionJWT
        in: header
        required: false
        description: A Stytch Session JSON Web Token (JWT) that can be used to run
          the request with the given member's permissions.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_b2b_scim_v1_b2b_scim_connection_RotateCompleteResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach
                  out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
  /v1/b2b/scim/{organization_id}/connection/{connection_id}/rotate/cancel:
    post:
      summary: Rotatecancel
      operationId: api_b2b_scim_v1_b2b_scim_connection_RotateCancel
      tags:
      - B2B Scim
      description: Cancel a SCIM token rotation. This will cancel the current token
        rotation process, keeping the original token active.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_b2b_scim_v1_b2b_scim_connection_RotateCancelRequest'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: connection_id
        in: path
        required: true
        schema:
          type: string
      - name: X-Stytch-Member-Session
        in: header
        required: false
        description: A Stytch session that can be used to run the request with the
          given member's permissions.
        schema:
          type: string
      - name: X-Stytch-Member-SessionJWT
        in: header
        required: false
        description: A Stytch Session JSON Web Token (JWT) that can be used to run
          the request with the given member's permissions.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_b2b_scim_v1_b2b_scim_connection_RotateCancelResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach
                  out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
  /v1/b2b/scim/{organization_id}/connection:
    post:
      summary: Create
      operationId: api_b2b_scim_v1_b2b_scim_connection_Create
      tags:
      - B2B Scim
      description: Create a new SCIM Connection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_b2b_scim_v1_b2b_scim_connection_CreateRequest'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: X-Stytch-Member-Session
        in: header
        required: false
        description: A Stytch session that can be used to run the request with the
          given member's permissions.
        schema:
          type: string
      - name: X-Stytch-Member-SessionJWT
        in: header
        required: false
        description: A Stytch Session JSON Web Token (JWT) that can be used to run
          the request with the given member's permissions.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_b2b_scim_v1_b2b_scim_connection_CreateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach
                  out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
      x-code-samples:
      - lang: python
        label: Python
        source: "# POST /v1/b2b/scim/{organization_id}/connection\nfrom stytch import\
          \ B2BClient\nfrom stytch.b2b.models.scim_connection import CreateRequestOptions\n\
          from stytch.shared.method_options import Authorization\n\nclient = B2BClient(\n\
          \    project_id=\"${projectId}\",\n    secret=\"${secret}\",\n)\n\nresp\
          \ = client.scim.connection.create(\n    organization_id=\"${organizationId}\"\
          ,\n    display_name=\"Example SCIM connection\",\n    method_options=CreateRequestOptions(\n\
          \        authorization=Authorization(\n            session_token=\"${sessionToken}\"\
          ,\n        ),\n    ),\n)\n\nprint(resp)\n"
      - lang: javascript
        label: Node.js
        source: "// POST /v1/b2b/scim/{organization_id}/connection\nconst stytch =\
          \ require('stytch');\n\nconst client = new stytch.B2BClient({\n  project_id:\
          \ '${projectId}',\n  secret: '${secret}',\n});\n\nconst params = {\n  organization_id:\
          \ \"${organizationId}\",\n  display_name: \"Example SCIM connection\",\n\
          };\n\nconst options = {\n  authorization: {\n    session_token: '${sessionToken}',\n\
          \  },\n};\n\nclient.scim.connection.create(params, options)\n  .then(resp\
          \ => { console.log(resp) })\n  .catch(err => { console.log(err) });"
      - lang: java
        label: Java
        source: "// POST /v1/b2b/scim/{organization_id}/connection\npackage com.example;\n\
          \nimport com.stytch.java.b2b.models.scimconnection.CreateRequest;\nimport\
          \ com.stytch.java.b2b.models.scimconnection.CreateRequestOptions;\nimport\
          \ com.stytch.java.b2b.StytchB2BClient;\nimport com.stytch.java.common.methodoptions.Authorization;\n\
          import com.stytch.java.common.StytchResult;\n\npublic class Main {\n   \
          \ public static void main(String[] args) {\n        StytchB2BClient.configure(\"\
          ${projectId}\", \"${secret}\");\n\n        CreateRequest params = new CreateRequest();\n\
          \        params.setOrganizationId(\"${organizationId}\");\n        params.setDisplayName(\"\
          Example SCIM connection\");\n\n        CreateRequestOptions options = new\
          \ CreateRequestOptions();\n        Authorization authorization = new Authorization();\n\
          \        authorization.setSessionToken(\"${sessionToken}\");\n        options.setAuthorization(authorization);\n\
          \n        Object result = StytchB2BClient.getSCIM().getConnection().create(params,\
          \ options);\n        if (result instanceof StytchResult.Success) {\n   \
          \       System.out.println(((StytchResult.Success) result).getValue());\n\
          \        } else {\n          System.out.println(((StytchResult.Error) result).getException());\n\
          \        }\n    }\n}"
      - lang: ruby
        label: Ruby
        source: "# POST /v1/b2b/scim/{organization_id}/connection\nrequire 'stytch'\n\
          \nclient = StytchB2B::Client.new(\n  project_id: '${projectId}',\n  secret:\
          \ '${secret}'\n)\n\nresp = client.scim.connection.create(\n  organization_id:\
          \ '${organizationId}',\n  display_name: 'Example SCIM connection',\n  method_options:\
          \ StytchB2B::SCIM::Connection::CreateRequestOptions.new(\n    authorization:\
          \ Stytch::MethodOptions::Authorization.new(session_token: '${sessionToken}')\n\
          \  )\n)\n\nputs resp\n"
      - lang: kotlin
        label: Kotlin
        source: "// POST /v1/b2b/scim/{organization_id}/connection\npackage com.example\n\
          \nimport com.stytch.java.b2b.StytchB2BClient\nimport com.stytch.java.b2b.models.scimconnection.CreateRequest\n\
          import com.stytch.java.b2b.models.scimconnection.CreateRequestOptions\n\
          import com.stytch.java.common.methodoptions.Authorization\n\nfun main()\
          \ {\n    StytchB2BClient.configure(\n        projectId = \"${projectId}\"\
          ,\n        secret = \"${secret}\",\n    )\n\n    when (\n        val result\
          \ =\n            StytchB2BClient.scim.connection.create(\n             \
          \   CreateRequest(\n                    organizationId = \"${organizationId}\"\
          ,\n                    displayName = \"Example SCIM connection\",\n    \
          \            ),\n                CreateRequestOptions(\n               \
          \     Authorization(\n                        sessionToken = \"${sessionToken}\"\
          ,\n                    ),\n                ),\n            )\n    ) {\n\
          \        is StytchResult.Success -> println(result.value)\n        is StytchResult.Error\
          \ -> println(result.exception)\n    }\n}\n"
      - lang: rust
        label: Rust
        source: "// POST /v1/b2b/scim/{organization_id}/connection\nuse stytch::b2b::client::Client;\n\
          use stytch::b2b::scim_connection::CreateRequest;\n\nfn main() {\n    let\
          \ client = Client::new(\"${projectId}\", \"${secret}\").unwrap();\n    let\
          \ resp = client.scim.connection.create(\n        CreateRequest{\n      \
          \      organization_id: \"${organizationId}\",\n            display_name:\
          \ Some(String::from(\"Example SCIM connection\")),\n            ..Default::default()\n\
          \        }\n    ).await;\n    println!(\"The response is {:?}\", resp);\n\
          }"
    get:
      summary: Get
      operationId: api_b2b_scim_v1_b2b_scim_connection_Get
      tags:
      - B2B Scim
      description: Get SCIM Connection.
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: X-Stytch-Member-Session
        in: header
        required: false
        description: A Stytch session that can be used to run the request with the
          given member's permissions.
        schema:
          type: string
      - name: X-Stytch-Member-SessionJWT
        in: header
        required: false
        description: A Stytch Session JSON Web Token (JWT) that can be used to run
          the request with the given member's permissions.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_b2b_scim_v1_b2b_scim_connection_GetResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach
                  out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
      x-code-samples:
      - lang: python
        label: Python
        source: "# GET /v1/b2b/scim/{organization_id}/connection\nfrom stytch import\
          \ B2BClient\nfrom stytch.b2b.models.scim_connection import GetRequestOptions\n\
          from stytch.shared.method_options import Authorization\n\nclient = B2BClient(\n\
          \    project_id=\"${projectId}\",\n    secret=\"${secret}\",\n)\n\nresp\
          \ = client.scim.connection.get(\n    organization_id=\"${organizationId}\"\
          ,\n    method_options=GetRequestOptions(\n        authorization=Authorization(\n\
          \            session_token=\"${sessionToken}\",\n        ),\n    ),\n)\n\
          \nprint(resp)\n"
      - lang: javascript
        label: Node.js
        source: "// GET /v1/b2b/scim/{organization_id}/connection\nconst stytch =\
          \ require('stytch');\n\nconst client = new stytch.B2BClient({\n  project_id:\
          \ '${projectId}',\n  secret: '${secret}',\n});\n\nconst params = {\n  organization_id:\
          \ \"${organizationId}\",\n};\n\nconst options = {\n  authorization: {\n\
          \    session_token: '${sessionToken}',\n  },\n};\n\nclient.scim.connection.get(params,\
          \ options)\n  .then(resp => { console.log(resp) })\n  .catch(err => { console.log(err)\
          \ });"
      - lang: java
        label: Java
        source: "// GET /v1/b2b/scim/{organization_id}/connection\npackage com.example;\n\
          \nimport com.stytch.java.b2b.models.scimconnection.GetRequest;\nimport com.stytch.java.b2b.models.scimconnection.GetRequestOptions;\n\
          import com.stytch.java.b2b.StytchB2BClient;\nimport com.stytch.java.common.methodoptions.Authorization;\n\
          import com.stytch.java.common.StytchResult;\n\npublic class Main {\n   \
          \ public static void main(String[] args) {\n        StytchB2BClient.configure(\"\
          ${projectId}\", \"${secret}\");\n\n        GetRequest params = new GetRequest();\n\
          \        params.setOrganizationId(\"${organizationId}\");\n\n        GetRequestOptions\
          \ options = new GetRequestOptions();\n        Authorization authorization\
          \ = new Authorization();\n        authorization.setSessionToken(\"${sessionToken}\"\
          );\n        options.setAuthorization(authorization);\n\n        Object result\
          \ = StytchB2BClient.getSCIM().getConnection().get(params, options);\n  \
          \      if (result instanceof StytchResult.Success) {\n          System.out.println(((StytchResult.Success)\
          \ result).getValue());\n        } else {\n          System.out.println(((StytchResult.Error)\
          \ result).getException());\n        }\n    }\n}"
      - lang: ruby
        label: Ruby
        source: "# GET /v1/b2b/scim/{organization_id}/connection\nrequire 'stytch'\n\
          \nclient = StytchB2B::Client.new(\n  project_id: '${projectId}',\n  secret:\
          \ '${secret}'\n)\n\nresp = client.scim.connection.get(\n  organization_id:\
          \ '${organizationId}',\n  method_options: StytchB2B::SCIM::Connection::GetRequestOptions.new(\n\
          \    authorization: Stytch::MethodOptions::Authorization.new(session_token:\
          \ '${sessionToken}')\n  )\n)\n\nputs resp\n"
      - lang: kotlin
        label: Kotlin
        source: "// GET /v1/b2b/scim/{organization_id}/connection\npackage com.example\n\
          \nimport com.stytch.java.b2b.StytchB2BClient\nimport com.stytch.java.b2b.models.scimconnection.GetRequest\n\
          import com.stytch.java.b2b.models.scimconnection.GetRequestOptions\nimport\
          \ com.stytch.java.common.methodoptions.Authorization\n\nfun main() {\n \
          \   StytchB2BClient.configure(\n        projectId = \"${projectId}\",\n\
          \        secret = \"${secret}\",\n    )\n\n    when (\n        val result\
          \ =\n            StytchB2BClient.scim.connection.get(\n                GetRequest(\n\
          \                    organizationId = \"${organizationId}\",\n         \
          \       ),\n                GetRequestOptions(\n                    Authorization(\n\
          \                        sessionToken = \"${sessionToken}\",\n         \
          \           ),\n                ),\n            )\n    ) {\n        is StytchResult.Success\
          \ -> println(result.value)\n        is StytchResult.Error -> println(result.exception)\n\
          \    }\n}\n"
      - lang: rust
        label: Rust
        source: "// GET /v1/b2b/scim/{organization_id}/connection\nuse stytch::b2b::client::Client;\n\
          use stytch::b2b::scim_connection::GetRequest;\n\nfn main() {\n    let client\
          \ = Client::new(\"${projectId}\", \"${secret}\").unwrap();\n    let resp\
          \ = client.scim.connection.get(\n        GetRequest{\n            organization_id:\
          \ \"${organizationId}\",\n            ..Default::default()\n        }\n\
          \    ).await;\n    println!(\"The response is {:?}\", resp);\n}"
  /v1/b2b/organizations:
    post:
      summary: Create
      operationId: api_organization_v1_Create
      tags:
      - Organization
      description: 'Creates an Organization. An `organization_name` and a unique `organization_slug`
        are required.


        If no Organization authentication setting parameters are passed in, `email_invites`
        will default to `ALL_ALLOWED` so that the Organization has a way to add Members.
        Otherwise, `email_invites` will default to `NOT_ALLOWED`.


        *See the [Organization authentication settings](https://stytch.com/docs/b2b/api/org-auth-settings)
        resource to learn more about fields like `email_jit_provisioning`, `email_invites`,
        `sso_jit_provisioning`, etc., and their behaviors.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_organization_v1_CreateRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_CreateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach
                  out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
      x-code-samples:
      - lang: python
        label: Python
        source: "# POST /v1/b2b/organizations\nfrom stytch import B2BClient\n\nclient\
          \ = B2BClient(\n    project_id=\"${projectId}\",\n    secret=\"${secret}\"\
          ,\n)\n\nresp = client.organizations.create(\n    organization_name=\"${organizationName}\"\
          ,\n    organization_slug=\"${organizationSlug}\",\n    organization_external_id=\"\
          my-external-id\",\n)\n\nprint(resp)\n"
      - lang: javascript
        label: Node.js
        source: "// POST /v1/b2b/organizations\nconst stytch = require('stytch');\n\
          \nconst client = new stytch.B2BClient({\n  project_id: '${projectId}',\n\
          \  secret: '${secret}',\n});\n\nconst params = {\n  organization_name: \"\
          ${organizationName}\",\n  organization_slug: \"${organizationSlug}\",\n\
          \  organization_external_id: \"my-external-id\",\n};\n\nclient.organizations.create(params)\n\
          \  .then(resp => { console.log(resp) })\n  .catch(err => { console.log(err)\
          \ });"
      - lang: java
        label: Java
        source: "// POST /v1/b2b/organizations\npackage com.example;\n\nimport com.stytch.java.b2b.models.organizations.CreateRequest;\n\
          import com.stytch.java.b2b.StytchB2BClient;\nimport com.stytch.java.common.StytchResult;\n\
          \npublic class Main {\n    public static void main(String[] args) {\n  \
          \      StytchB2BClient.configure(\"${projectId}\", \"${secret}\");\n\n \
          \       CreateRequest params = new CreateRequest();\n        params.setOrganizationName(\"\
          ${organizationName}\");\n        params.setOrganizationSlug(\"${organizationSlug}\"\
          );\n        params.setOrganizationExternalId(\"my-external-id\");\n\n  \
          \      Object result = StytchB2BClient.getOrganizations().create(params);\n\
          \        if (result instanceof StytchResult.Success) {\n          System.out.println(((StytchResult.Success)\
          \ result).getValue());\n        } else {\n          System.out.println(((StytchResult.Error)\
          \ result).getException());\n        }\n    }\n}"
      - lang: ruby
        label: Ruby
        source: "# POST /v1/b2b/organizations\nrequire 'stytch'\n\nclient = StytchB2B::Client.new(\n\
          \  project_id: '${projectId}',\n  secret: '${secret}'\n)\n\nresp = client.organizations.create(\n\
          \  organization_name: '${organizationName}',\n  organization_slug: '${organizationSlug}',\n\
          \  organization_external_id: 'my-external-id'\n)\n\nputs resp\n"
      - lang: kotlin
        label: Kotlin
        source: "// POST /v1/b2b/organizations\npackage com.example\n\nimport com.stytch.java.b2b.StytchB2BClient\n\
          import com.stytch.java.b2b.models.organizations.CreateRequest\n\nfun main()\
          \ {\n    StytchB2BClient.configure(\n        projectId = \"${projectId}\"\
          ,\n        secret = \"${secret}\",\n    )\n\n    when (\n        val result\
          \ =\n            StytchB2BClient.organizations.create(\n               \
          \ CreateRequest(\n                    organizationName = \"${organizationName}\"\
          ,\n                    organizationSlug = \"${organizationSlug}\",\n   \
          \                 organizationExternalId = \"my-external-id\",\n       \
          \         ),\n            )\n    ) {\n        is StytchResult.Success ->\
          \ println(result.value)\n        is StytchResult.Error -> println(result.exception)\n\
          \    }\n}\n"
      - lang: rust
        label: Rust
        source: "// POST /v1/b2b/organizations\nuse stytch::b2b::client::Client;\n\
          use stytch::b2b::organizations::CreateRequest;\n\nfn main() {\n    let client\
          \ = Client::new(\"${projectId}\", \"${secret}\").unwrap();\n    let resp\
          \ = client.organizations.create(\n        CreateRequest{\n            organization_name:\
          \ \"${organizationName}\",\n            organization_slug: Some(String::from(\"\
          ${organizationSlug}\")),\n            organization_external_id: Some(String::from(\"\
          my-external-id\")),\n            ..Default::default()\n        }\n    ).await;\n\
          \    println!(\"The response is {:?}\", resp);\n}"
  /v1/b2b/organizations/{organization_id}:
    get:
      summary: Get
      operationId: api_organization_v1_Get
      tags:
      - Organization
      description: Returns an Organization specified by `organization_id`.
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_GetResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach
                  out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
      x-code-samples:
      - lang: python
        label: Python
        source: "# GET /v1/b2b/organizations/{organization_id}\nfrom stytch import\
          \ B2BClient\n\nclient = B2BClient(\n    project_id=\"${projectId}\",\n \
          \   secret=\"${secret}\",\n)\n\nresp = client.organizations.get(\n    organization_id=\"\
          ${organizationId}\",\n)\n\nprint(resp)\n"
      - lang: javascript
        label: Node.js
        source: "// GET /v1/b2b/organizations/{organization_id}\nconst stytch = require('stytch');\n\
          \nconst client = new stytch.B2BClient({\n  project_id: '${projectId}',\n\
          \  secret: '${secret}',\n});\n\nconst params = {\n  organization_id: \"\
          ${organizationId}\",\n};\n\nclient.organizations.get(params)\n  .then(resp\
          \ => { console.log(resp) })\n  .catch(err => { console.log(err) });"
      - lang: java
        label: Java
        source: "// GET /v1/b2b/organizations/{organization_id}\npackage com.example;\n\
          \nimport com.stytch.java.b2b.models.organizations.GetRequest;\nimport com.stytch.java.b2b.StytchB2BClient;\n\
          import com.stytch.java.common.StytchResult;\n\npublic class Main {\n   \
          \ public static void main(String[] args) {\n        StytchB2BClient.configure(\"\
          ${projectId}\", \"${secret}\");\n\n        GetRequest params = new GetRequest();\n\
          \        params.setOrganizationId(\"${organizationId}\");\n\n        Object\
          \ result = StytchB2BClient.getOrganizations().get(params);\n        if (result\
          \ instanceof StytchResult.Success) {\n          System.out.println(((StytchResult.Success)\
          \ result).getValue());\n        } else {\n          System.out.println(((StytchResult.Error)\
          \ result).getException());\n        }\n    }\n}"
      - lang: ruby
        label: Ruby
        source: "# GET /v1/b2b/organizations/{organization_id}\nrequire 'stytch'\n\
          \nclient = StytchB2B::Client.new(\n  project_id: '${projectId}',\n  secret:\
          \ '${secret}'\n)\n\nresp = client.organizations.get(\n  organization_id:\
          \ '${organizationId}'\n)\n\nputs resp\n"
      - lang: kotlin
        label: Kotlin
        source: "// GET /v1/b2b/organizations/{organization_id}\npackage com.example\n\
          \nimport com.stytch.java.b2b.StytchB2BClient\nimport com.stytch.java.b2b.models.organizations.GetRequest\n\
          \nfun main() {\n    StytchB2BClient.configure(\n        projectId = \"${projectId}\"\
          ,\n        secret = \"${secret}\",\n    )\n\n    when (\n        val result\
          \ =\n            StytchB2BClient.organizations.get(\n                GetRequest(\n\
          \                    organizationId = \"${organizationId}\",\n         \
          \       ),\n            )\n    ) {\n        is StytchResult.Success -> println(result.value)\n\
          \        is StytchResult.Error -> println(result.exception)\n    }\n}\n"
      - lang: rust
        label: Rust
        source: "// GET /v1/b2b/organizations/{organization_id}\nuse stytch::b2b::client::Client;\n\
          use stytch::b2b::organizations::GetRequest;\n\nfn main() {\n    let client\
          \ = Client::new(\"${projectId}\", \"${secret}\").unwrap();\n    let resp\
          \ = client.organizations.get(\n        GetRequest{\n            organization_id:\
          \ \"${organizationId}\",\n            ..Default::default()\n        }\n\
          \    ).await;\n    println!(\"The response is {:?}\", resp);\n}"
    put:
      summary: Update
      operationId: api_organization_v1_Update
      tags:
      - Organization
      description: 'Updates an Organization specified by `organization_id`. An Organization
        must always have at least one auth setting set to either `RESTRICTED` or `ALL_ALLOWED`
        in order to provision new Members.


        *See the [Organization authentication settings](https://stytch.com/docs/b2b/api/org-auth-settings)
        resource to learn more about fields like `email_jit_provisioning`, `email_invites`,
        `sso_jit_provisioning`, etc., and their behaviors.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_organization_v1_UpdateRequest'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: X-Stytch-Member-Session
        in: header
        required: false
        description: A Stytch session that can be used to run the request with the
          given member's permissions.
        schema:
          type: string
      - name: X-Stytch-Member-SessionJWT
        in: header
        required: false
        description: A Stytch Session JSON Web Token (JWT) that can be used to run
          the request with the given member's permissions.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_UpdateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach
                  out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
      x-code-samples:
      - lang: python
        label: Python
        source: "# PUT /v1/b2b/organizations/{organization_id}\nfrom stytch import\
          \ B2BClient\nfrom stytch.b2b.models.organizations import UpdateRequestOptions\n\
          from stytch.shared.method_options import Authorization\n\nclient = B2BClient(\n\
          \    project_id=\"${projectId}\",\n    secret=\"${secret}\",\n)\n\nresp\
          \ = client.organizations.update(\n    organization_id=\"${organizationId}\"\
          ,\n    organization_name=\"${organizationName}\",\n    organization_external_id=\"\
          my-new-external-id\",\n    email_jit_provisioning=\"ALL_ALLOWED\",\n   \
          \ method_options=UpdateRequestOptions(\n        authorization=Authorization(\n\
          \            session_token=\"${sessionToken}\",\n        ),\n    ),\n)\n\
          \nprint(resp)\n"
      - lang: javascript
        label: Node.js
        source: "// PUT /v1/b2b/organizations/{organization_id}\nconst stytch = require('stytch');\n\
          \nconst client = new stytch.B2BClient({\n  project_id: '${projectId}',\n\
          \  secret: '${secret}',\n});\n\nconst params = {\n  organization_id: \"\
          ${organizationId}\",\n  organization_name: \"${organizationName}\",\n  organization_external_id:\
          \ \"my-new-external-id\",\n  email_jit_provisioning: \"ALL_ALLOWED\",\n\
          };\n\nconst options = {\n  authorization: {\n    session_token: '${sessionToken}',\n\
          \  },\n};\n\nclient.organizations.update(params, options)\n  .then(resp\
          \ => { console.log(resp) })\n  .catch(err => { console.log(err) });"
      - lang: java
        label: Java
        source: "// PUT /v1/b2b/organizations/{organization_id}\npackage com.example;\n\
          \nimport com.stytch.java.b2b.models.organizations.UpdateRequest;\nimport\
          \ com.stytch.java.b2b.models.organizations.UpdateRequestOptions;\nimport\
          \ com.stytch.java.b2b.StytchB2BClient;\nimport com.stytch.java.common.methodoptions.Authorization;\n\
          import com.stytch.java.common.StytchResult;\n\npublic class Main {\n   \
          \ public static void main(String[] args) {\n        StytchB2BClient.configure(\"\
          ${projectId}\", \"${secret}\");\n\n        UpdateRequest params = new UpdateRequest();\n\
          \        params.setOrganizationId(\"${organizationId}\");\n        params.setOrganizationName(\"\
          ${organizationName}\");\n        params.setOrganizationExternalId(\"my-new-external-id\"\
          );\n        params.setEmailJITProvisioning(\"ALL_ALLOWED\");\n\n       \
          \ UpdateRequestOptions options = new UpdateRequestOptions();\n        Authorization\
          \ authorization = new Authorization();\n        authorization.setSessionToken(\"\
          ${sessionToken}\");\n        options.setAuthorization(authorization);\n\n\
          \        Object result = StytchB2BClient.getOrganizations().update(params,\
          \ options);\n        if (result instanceof StytchResult.Success) {\n   \
          \       System.out.println(((StytchResult.Success) result).getValue());\n\
          \        } else {\n          System.out.println(((StytchResult.Error) result).getException());\n\
          \        }\n    }\n}"
      - lang: ruby
        label: Ruby
        source: "# PUT /v1/b2b/organizations/{organization_id}\nrequire 'stytch'\n\
          \nclient = StytchB2B::Client.new(\n  project_id: '${projectId}',\n  secret:\
          \ '${secret}'\n)\n\nresp = client.organizations.update(\n  organization_id:\
          \ '${organizationId}',\n  organization_name: '${organizationName}',\n  organization_external_id:\
          \ 'my-new-external-id',\n  email_jit_provisioning: 'ALL_ALLOWED',\n  method_options:\
          \ StytchB2B::Organizations::UpdateRequestOptions.new(\n    authorization:\
          \ Stytch::MethodOptions::Authorization.new(session_token: '${sessionToken}')\n\
          \  )\n)\n\nputs resp\n"
      - lang: kotlin
        label: Kotlin
        source: "// PUT /v1/b2b/organizations/{organization_id}\npackage com.example\n\
          \nimport com.stytch.java.b2b.StytchB2BClient\nimport com.stytch.java.b2b.models.organizations.UpdateRequest\n\
          import com.stytch.java.b2b.models.organizations.UpdateRequestOptions\nimport\
          \ com.stytch.java.common.methodoptions.Authorization\n\nfun main() {\n \
          \   StytchB2BClient.configure(\n        projectId = \"${projectId}\",\n\
          \        secret = \"${secret}\",\n    )\n\n    when (\n        val result\
          \ =\n            StytchB2BClient.organizations.update(\n               \
          \ UpdateRequest(\n                    organizationId = \"${organizationId}\"\
          ,\n                    organizationName = \"${organizationName}\",\n   \
          \                 organizationExternalId = \"my-new-external-id\",\n   \
          \                 emailJITProvisioning = \"ALL_ALLOWED\",\n            \
          \    ),\n                UpdateRequestOptions(\n                    Authorization(\n\
          \                        sessionToken = \"${sessionToken}\",\n         \
          \           ),\n                ),\n            )\n    ) {\n        is StytchResult.Success\
          \ -> println(result.value)\n        is StytchResult.Error -> println(result.exception)\n\
          \    }\n}\n"
      - lang: rust
        label: Rust
        source: "// PUT /v1/b2b/organizations/{organization_id}\nuse stytch::b2b::client::Client;\n\
          use stytch::b2b::organizations::UpdateRequest;\n\nfn main() {\n    let client\
          \ = Client::new(\"${projectId}\", \"${secret}\").unwrap();\n    let resp\
          \ = client.organizations.update(\n        UpdateRequest{\n            organization_id:\
          \ \"${organizationId}\",\n            organization_name: Some(String::from(\"\
          ${organizationName}\")),\n            organization_external_id: Some(String::from(\"\
          my-new-external-id\")),\n            email_jit_provisioning: Some(String::from(\"\
          ALL_ALLOWED\")),\n            ..Default::default()\n        }\n    ).await;\n\
          \    println!(\"The response is {:?}\", resp);\n}"
    delete:
      summary: Delete
      operationId: api_organization_v1_Delete
      tags:
      - Organization
      description: Deletes an Organization specified by `organization_id`. All Members
        of the Organization will also be deleted.
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: X-Stytch-Member-Session
        in: header
        required: false
        description: A Stytch session that can be used to run the request with the
          given member's permissions.
        schema:
          type: string
      - name: X-Stytch-Member-SessionJWT
        in: header
        required: false
        description: A Stytch Session JSON Web Token (JWT) that can be used to run
          the request with the given member's permissions.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_DeleteResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach
                  out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
      x-code-samples:
      - lang: python
        label: Python
        source: "# DELETE /v1/b2b/organizations/{organization_id}\nfrom stytch import\
          \ B2BClient\nfrom stytch.b2b.models.organizations import DeleteRequestOptions\n\
          from stytch.shared.method_options import Authorization\n\nclient = B2BClient(\n\
          \    project_id=\"${projectId}\",\n    secret=\"${secret}\",\n)\n\nresp\
          \ = client.organizations.delete(\n    organization_id=\"${organizationId}\"\
          ,\n    method_options=DeleteRequestOptions(\n        authorization=Authorization(\n\
          \            session_token=\"${sessionToken}\",\n        ),\n    ),\n)\n\
          \nprint(resp)\n"
      - lang: javascript
        label: Node.js
        source: "// DELETE /v1/b2b/organizations/{organization_id}\nconst stytch =\
          \ require('stytch');\n\nconst client = new stytch.B2BClient({\n  project_id:\
          \ '${projectId}',\n  secret: '${secret}',\n});\n\nconst params = {\n  organization_id:\
          \ \"${organizationId}\",\n};\n\nconst options = {\n  authorization: {\n\
          \    session_token: '${sessionToken}',\n  },\n};\n\nclient.organizations.delete(params,\
          \ options)\n  .then(resp => { console.log(resp) })\n  .catch(err => { console.log(err)\
          \ });"
      - lang: java
        label: Java
        source: "// DELETE /v1/b2b/organizations/{organization_id}\npackage com.example;\n\
          \nimport com.stytch.java.b2b.models.organizations.DeleteRequest;\nimport\
          \ com.stytch.java.b2b.models.organizations.DeleteRequestOptions;\nimport\
          \ com.stytch.java.b2b.StytchB2BClient;\nimport com.stytch.java.common.methodoptions.Authorization;\n\
          import com.stytch.java.common.StytchResult;\n\npublic class Main {\n   \
          \ public static void main(String[] args) {\n        StytchB2BClient.configure(\"\
          ${projectId}\", \"${secret}\");\n\n        DeleteRequest params = new DeleteRequest();\n\
          \        params.setOrganizationId(\"${organizationId}\");\n\n        DeleteRequestOptions\
          \ options = new DeleteRequestOptions();\n        Authorization authorization\
          \ = new Authorization();\n        authorization.setSessionToken(\"${sessionToken}\"\
          );\n        options.setAuthorization(authorization);\n\n        Object result\
          \ = StytchB2BClient.getOrganizations().delete(params, options);\n      \
          \  if (result instanceof StytchResult.Success) {\n          System.out.println(((StytchResult.Success)\
          \ result).getValue());\n        } else {\n          System.out.println(((StytchResult.Error)\
          \ result).getException());\n        }\n    }\n}"
      - lang: ruby
        label: Ruby
        source: "# DELETE /v1/b2b/organizations/{organization_id}\nrequire 'stytch'\n\
          \nclient = StytchB2B::Client.new(\n  project_id: '${projectId}',\n  secret:\
          \ '${secret}'\n)\n\nresp = client.organizations.delete(\n  organization_id:\
          \ '${organizationId}',\n  method_options: StytchB2B::Organizations::DeleteRequestOptions.new(\n\
          \    authorization: Stytch::MethodOptions::Authorization.new(session_token:\
          \ '${sessionToken}')\n  )\n)\n\nputs resp\n"
      - lang: kotlin
        label: Kotlin
        source: "// DELETE /v1/b2b/organizations/{organization_id}\npackage com.example\n\
          \nimport com.stytch.java.b2b.StytchB2BClient\nimport com.stytch.java.b2b.models.organizations.DeleteRequest\n\
          import com.stytch.java.b2b.models.organizations.DeleteRequestOptions\nimport\
          \ com.stytch.java.common.methodoptions.Authorization\n\nfun main() {\n \
          \   StytchB2BClient.configure(\n        projectId = \"${projectId}\",\n\
          \        secret = \"${secret}\",\n    )\n\n    when (\n        val result\
          \ =\n            StytchB2BClient.organizations.delete(\n               \
          \ DeleteRequest(\n                    organizationId = \"${organizationId}\"\
          ,\n                ),\n                DeleteRequestOptions(\n         \
          \           Authorization(\n                        sessionToken = \"${sessionToken}\"\
          ,\n                    ),\n                ),\n            )\n    ) {\n\
          \        is StytchResult.Success -> println(result.value)\n        is StytchResult.Error\
          \ -> println(result.exception)\n    }\n}\n"
      - lang: rust
        label: Rust
        source: "// DELETE /v1/b2b/organizations/{organization_id}\nuse stytch::b2b::client::Client;\n\
          use stytch::b2b::organizations::DeleteRequest;\n\nfn main() {\n    let client\
          \ = Client::new(\"${projectId}\", \"${secret}\").unwrap();\n    let resp\
          \ = client.organizations.delete(\n        DeleteRequest{\n            organization_id:\
          \ \"${organizationId}\",\n            ..Default::default()\n        }\n\
          \    ).await;\n    println!(\"The response is {:?}\", resp);\n}"
  /v1/b2b/organizations/search:
    post:
      summary: Search
      operationId: api_organization_v1_Search
      tags:
      - Organization
      description: '

        **Warning**: This endpoint is not recommended for use in login flows. Scaling
        issues may occur, as search performance may vary from ~150 milliseconds to
        9 seconds depending on query complexity and rate limits are set to 100 requests/minute.


        Search across your Organizations. Returns an array of Organization objects.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_organization_v1_SearchRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_SearchResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach
                  out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
  /v1/b2b/organizations/{organization_id}/metrics:
    get:
      summary: Metrics
      operationId: api_organization_v1_Metrics
      tags:
      - Organization
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_organization_v1_MetricsResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach
                  out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
      x-code-samples:
      - lang: python
        label: Python
        source: "# GET /v1/b2b/organizations/{organization_id}/metrics\nfrom stytch\
          \ import B2BClient\n\nclient = B2BClient(\n    project_id=\"${projectId}\"\
          ,\n    secret=\"${secret}\",\n)\n\nresp = client.organizations.metrics(\n\
          \    organization_id=\"TODO_MISSING_EXAMPLE_VALUE\",\n)\n\nprint(resp)\n"
      - lang: javascript
        label: Node.js
        source: "// GET /v1/b2b/organizations/{organization_id}/metrics\nconst stytch\
          \ = require('stytch');\n\nconst client = new stytch.B2BClient({\n  project_id:\
          \ '${projectId}',\n  secret: '${secret}',\n});\n\nconst params = {\n  organization_id:\
          \ \"TODO_MISSING_EXAMPLE_VALUE\",\n};\n\nclient.organizations.metrics(params)\n\
          \  .then(resp => { console.log(resp) })\n  .catch(err => { console.log(err)\
          \ });"
      - lang: java
        label: Java
        source: "// GET /v1/b2b/organizations/{organization_id}/metrics\npackage com.example;\n\
          \nimport com.stytch.java.b2b.models.organizations.MetricsRequest;\nimport\
          \ com.stytch.java.b2b.StytchB2BClient;\nimport com.stytch.java.common.StytchResult;\n\
          \npublic class Main {\n    public static void main(String[] args) {\n  \
          \      StytchB2BClient.configure(\"${projectId}\", \"${secret}\");\n\n \
          \       MetricsRequest params = new MetricsRequest();\n        params.setOrganizationId(\"\
          TODO_MISSING_EXAMPLE_VALUE\");\n\n        Object result = StytchB2BClient.getOrganizations().metrics(params);\n\
          \        if (result instanceof StytchResult.Success) {\n          System.out.println(((StytchResult.Success)\
          \ result).getValue());\n        } else {\n          System.out.println(((StytchResult.Error)\
          \ result).getException());\n        }\n    }\n}"
      - lang: ruby
        label: Ruby
        source: "# GET /v1/b2b/organizations/{organization_id}/metrics\nrequire 'stytch'\n\
          \nclient = StytchB2B::Client.new(\n  project_id: '${projectId}',\n  secret:\
          \ '${secret}'\n)\n\nresp = client.organizations.metrics(\n  organization_id:\
          \ 'TODO_MISSING_EXAMPLE_VALUE'\n)\n\nputs resp\n"
      - lang: kotlin
        label: Kotlin
        source: "// GET /v1/b2b/organizations/{organization_id}/metrics\npackage com.example\n\
          \nimport com.stytch.java.b2b.StytchB2BClient\nimport com.stytch.java.b2b.models.organizations.MetricsRequest\n\
          \nfun main() {\n    StytchB2BClient.configure(\n        projectId = \"${projectId}\"\
          ,\n        secret = \"${secret}\",\n    )\n\n    when (\n        val result\
[...]
